[2016-03-17 21:14] adriatic opened #1 "High level definition of the Aurelia-Syncfusion project"
#### This definition of the project  is a proposal by Aurelia-UI-Toolkits team. Before it gets accepted in its original or modified form, it has to thoroughly vetted and approved by Syncfusion team

Please post your comments, as additional comments to this issue.

[2016-03-17 21:15] adriatic opened #2 "Define the team"
Stephen: project owner
Daniel, Jeroen and Nik: project moderators / advisers
Bharath: developer and project lead
Karthick, Mydeen: developers

[2016-04-02 15:56] adriatic opened #4 "Quick bridge developer's tutorial"
### Introduction

This document explains the basic structure of the Syncfusion bridge (implemented as a typical Aurelia plugin) by defining the process of adding the simplest fictitious ej-widget called `click-counter` shown below:

<p align=center>
  <img src="https://cloud.githubusercontent.com/assets/2712405/14227565/bb138962-f8ce-11e5-8dfb-f4b603762b19.png"></img>
 <br><br>
Image 1
</p>

**Not

[2016-04-02 15:58] adriatic opened #5 "define Syncfusion JavaScript collection installation"
___Before starting real activity related to this issue, I propose a solid discussion - by adding comments / question to this page.___
***
***
### Summary:

##### Task 1: add the `vendors` folder with Syncfusion's `ej` modules as shown on the image "project structure" below

##### Task 2: define all needed types of bridge installaton for application developers (bridge users)

***

### Details
For t

[2016-04-02 17:17] adriatic commented on #4
### Internal structure

<p align=center>
  <img src="https://cloud.githubusercontent.com/assets/2712405/14227741/5349cc52-f8d2-11e5-822d-f39067e6a4c1.png"></img>
 <br><br>
Image 3
</p>

As Image 3 depicts, the Aurelia Syncfusion bridge is a composite application consisting of two main parts:
1. The **bridge** - which contains all of the code needed to "convert" native ej widgets to Aurelia compone

[2016-04-02 19:21] adriatic commented on #4
### 1. Adding `clickcounter` widget to the bridge

#### Step 1.1 Create widget wrapper

Each widget wrapper consists of at least one file - JavaScript class that implements the widget. There is also an optional html file.

In this document we will create the **[`src/clickcounter folder`](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/tree/master/src/clickcounter)** with the follo

[2016-04-02 19:22] adriatic commented on #4
### 2. Adding [`clickcounter` component](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/tree/master/src/clickcounter) to the [`catalog`](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/tree/master/sample) application.

Image 7 below is an expanded view of the Image 5 - presenting more details of the catalog application's structure:

<p align=center>
  <img src="h

[2016-04-02 21:43] adriatic commented on #4
### 3. Run the catalog to test the bridge

Since this application follows the **[es2016 application skeleton](https://github.com/aurelia/skeleton-navigation/tree/master/skeleton-es2016)** structure specification it should be built and run as described in this **[README.md](https://github.com/aurelia/skeleton-navigation/blob/master/skeleton-es2016/README.md)** file. Specifically, having all tooling

[2016-04-03 15:05] adriatic commented on #1
### High level definition of Aurelia-Syncfusion bridge project

Aurelia-Syncfusion bridge is a special type of an Aurelia application -  **Aurelia plugin**, term defined by the following paragraph:

In order to dramatically simplify the support for testing the bridge at the same time it is being developed , Aurelia-Syncfusion bridge is designed as a **composite application**: the **_bridge plugin*

[2016-04-03 21:27] adriatic opened #6 "finish the creation of the `demo-syncfusion` application"
This task is a remainder that every Aurelia-XXX bridge has the associated catalog application, hosted in github as `gh-pages` based website. See http://aurelia-ui-toolkits.github.io/demo-kendo as the example.

The repository for that http://aurelia-ui-toolkits.github.io/demo-syncfusion  already exists  **[here](https://github.com/aurelia-ui-toolkits/demo-syncfusion)**

[2016-04-11 04:46] bharathm03 commented on #2
Team defined

[2016-04-11 04:46] #2 closed

[2016-04-11 13:14] bharathm03 opened #7 "TypeScript syntaxes used in JS files"
Found some typings in JS file. As per mail conversion with @Thanood,

For generating d.ts file, do we need to consider typings in wrapper component file also? Also, i tried to get the documentation for `babel-dts-generator`, which is empty in github repo.

[2016-04-11 13:16] bharathm03 commented on #1
@adriatic this definition document is fine for us.

[2016-04-11 13:56] bharathm03 commented on #5
@adriatic this is the structure, I'm planning for vendor folder to align with "syncfusion/javascript-widgets" repo.

![image](https://cloud.githubusercontent.com/assets/2254476/14429450/1af86232-001b-11e6-9e5c-d38a1097aef8.png)

let me know your comments on this

[2016-04-11 14:50] adriatic commented on #7
_The information you request (and a lot more) is provided **[here](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/wiki#4-bridge-developers-notes)** and you were supposed to read this already :-)_

As it is really difficult to serialize all of the available information in a sequential set of articles, I expected the need to "iterative refinement" so, here is my second attempt to c

[2016-04-11 14:54] adriatic commented on #1
Wonderful - I really appreciate having each issue (like this one) concluded with the confirmation that all is fine :-)

[2016-04-11 15:06] adriatic commented on #5
**A few comments**

Please consider using the word `vendors` for compatibility reasons (this is a very low importance request and will leave it to you if it violates any Syncfusion branding). The reason I mention it here is to make the Aurelia developer's life easier - check the **[KendoUI bridge installation page](http://aurelia-ui-toolkits.github.io/demo-kendo/#/installation)** which describes h

[2016-04-11 16:17] Thanood commented on #7
More specifically, the dts-generator is described [here](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/wiki/Babel-DTS-generator). To be fair: there seems not to be an exhaustive list of available options (which would be very convenient to know how to tweak the generator). I've tried to find these, too.

[2016-04-12 05:20] bharathm03 commented on #7
@Thanood and @adriatic thanks

[2016-04-12 05:20] #7 closed

[2016-04-12 13:10] bharathm03 commented on #6
@adriatic information about `build` is folder is missing in demo-syncfusion readme page, as for us our understanding. We need to create bundler script for syncfusion and need copy the `build` folder as well to `demo-syncfusion` excluding development related files like test, lint etc.

also, we need to derive `deploy` gulp script from demo-kendo. Is this correct?

[2016-04-12 13:14] bharathm03 commented on #5
Ok @adriatic. i will correct the folder name to "vendors"

[2016-04-12 13:18] Mydeen-SN commented on #4
@bharathm03  - I have completed the button control creation for Aurelia bridge and currently working on adding of the button control in the catalog application.

[2016-04-12 14:03] adriatic commented on #6
The [demo-syncfusion](https://github.com/aurelia-ui-toolkits/demo-syncfusion) repository is not finished as you realized already. Even the most basic [How to run](https://github.com/aurelia-ui-toolkits/demo-syncfusion#how-to-run) set of instructions is just the (Telerik based) placeholder for the real instructions.

I would recommend to delay [this task](https://github.com/aurelia-ui-toolkits/demo

[2016-04-12 14:42] adriatic opened #8 "Implement ejmenu"
widget definition: https://www.syncfusion.com/products/javascript/ejmmenu

catalog examples: http://js.syncfusion.com/demos/web/#!/azure/menu/defaultfunctionalities

[2016-04-13 13:28] Mydeen-SN commented on #4
@bharathm03 -I have completed the catalog application integration and testcases for util and events classes and currently working on the unit test cases for the widgetBase class

[2016-04-13 13:40] bharathm03 commented on #4
@Mydeen-SN also, you need to add JsDoc for APIs in common folder. It is better to rename the file `widgetBase.js` to `widget-base.js` to avoid issues at Linux machines. Also, ensure this in future.

[2016-04-13 13:41] bharathm03 commented on #6
@adriatic ok, i will hold this task for now.

[2016-04-13 23:00] adriatic opened #9 "Nik's findings trying to run the Syncfusion catalog app"
i believe that this specific issue will take more than a day to resolve, so I will list some initial comments and wait for your answers to my comments, before moving to more detailed parts:

#### Question 1
I found many (1700+) references to "C:\\work\\aurelia-ui-toolkits\\Syncfusion\\aurelia-syncfusion-bridge\\node_modules\\serve-index" - as you can see in the attached `Find - Results.txt` file b

[2016-04-14 13:55] bharathm03 commented on #9
@adriatic please find my comments

Question 1.
It seems to be a feature in npm, where absolute path is updated in all node_modules' package.json file. Refer the following link

https://github.com/npm/npm/issues/10393

Question 2.
My understanding was samples have some hard references to relevant src files. Now I’m understanding dynamic mapping made on System.js config and role of main.js in loadin

[2016-04-14 13:57] karthickthangasamy commented on #8
@bharathm03 ejMenu  widget for Aurelia implementation has been completed and also ejMenu custom attribute configured for catalog application root control navigation. Please find the pull-request page as below.

https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/pull/10

Thanks,
Karthick T

[2016-04-14 14:00] Mydeen-SN commented on #4
@bharathm03 -Added the JsDoc for the widget-base and events files  and also complete the testcases for WidgetBase classes.Please find the pull request link below
#11

[2016-04-14 22:22] adriatic commented on #9
### Still cannot run the app

I am leaving the existing discussion on the three issues defined **[above](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/issues/9#issue-148206607)** until we resolve this specific problem defined below.

My current folder is **`C:\work\aurelia-ui-toolkits\Syncfusion\aurelia-syncfusion-bridge`**

I cloned the **[repo](https://github.com/aurelia-ui-to

[2016-04-15 09:57] karthickthangasamy commented on #9
@adriatic I hope, we followed the Aurelia compatibility plugin structure as discussed [here](https://github.com/aurelia-ui-toolkits/aurelia-kendoui-bridge/issues/72).

**_Nik: From this whole thread, the only important part is to have this **[section](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/blob/master/sample/index.html#L22-L32)** in your catalog application's **[index.htm

[2016-04-15 13:09] bharathm03 commented on #9
@adriatic this seems to be one of jspm package issue, which is updated after April 11. My machine does not throws any these issues as it was setup(npm install & jspm install) by last Friday(Apr 8) and runs perfectly.

**_Nik's comment: I do not understand how can you "run perfectly" the catalog application that has no access to Syncfusion SDK (collection of JavaScript `ej-` modules that the bridge

[2016-04-15 16:48] adriatic opened #13 "How to get us all together again?"
This task should be really called: **adding the first real `ej-widget` to the Aurelia-Syncfusion bridge.**

My today's comments to our "daily log" (**[here](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/issues/9#event-628403522)** and **[here](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/issues/9#issuecomment-210459151)**) tell me that I did not provide suffi

[2016-04-15 17:10] adriatic commented on #13
### How to define Syncfusion JavaScript collection installation

Please explain what if anything in the the article **[define Syncfusion JavaScript collection installation](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/issues/5)** is not clear and how can I help to get this done.

**Start** with careful examination of **[KendoUI installation page](http://aurelia-ui-toolkits.gith

[2016-04-19 04:17] bharathm03 commented on #5
@adriatic we have merged the `vendors` folder

[2016-04-19 13:31] bharathm03 commented on #9
@adriatic We further worked on it to find the root cause of the build failure and the issue you mentioned in this [comment](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/issues/9#issuecomment-210180679) is related to latest browserSync version "2.12.3", when I set the browserSync version to "2.11.2", bridge is working fine.

Please refer the related issue link below :
https://gi

[2016-04-20 13:58] adriatic commented on #13
### NOTE:

This issue continued in https://github.com/aurelia-ui-toolkits/skeleton-bridge/issues/26 which was resolved there.

[2016-04-25 12:15] bharathm03 commented on #9
@adriatic can you give us your comments and suggestion for completed [controls](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/tree/master/src)?

[2016-04-25 17:13] adriatic opened #17 "Nik's feedback on 4/25/2015"
In general, I believe that this bridge is moving in the right direction, although slower than I expected. Here are more detailed questions / comments - please answer each of them in the comments to this article.

### Question 1
**Do you feel that you need more help from Aurelia-UI-Toolkits team?**

### Question 2
**Are you aware of the Aurelia Component Lifecycle?**

### Question 3
**Do you plan t

[2016-04-25 17:19] adriatic opened #18 "Navigation for catalog application"
We use the name "catalog application" as the reference to Aurelia implementation of the original [Syncfusion demo application](http://js.syncfusion.com/demos/web/)

The design we created for Aurelia version of the original seems easier to navigate - as shown on the image below. Since the Syncfusion demo application is nearly identical to the KendoUI, it seems logical that Aurelia-Syncfusion catalo

[2016-04-26 13:35] bharathm03 commented on #17
@adriatic Thank you for your feedbacks. Please find my answers to comments and questions

Question 1:
No, you already provided sufficient information to complete the bridge.

Question 2:
Yes, we aware of Aurelia component lifecycle. Also, we implemented those for all the completed components (button, checkbox, menu). The lifecycle functions [attached](https://github.com/aurelia-ui-toolkits/aurelia

[2016-04-26 16:32] adriatic commented on #17
Certainly a good list of categories - in the best case you should map the complete **[EJ demo site](http://js.syncfusion.com/demos/web/)** into the layout for **[Aurelia Kendo Catalog app](http://aurelia-ui-toolkits.github.io/demo-kendo/)**

Observe the "smooth navigation" to any example, where you have the complete breadcrumb feature implemented by showing the selected menu and additional toolbar

[2016-04-27 13:40] bharathm03 opened #20 "Need to implement RUN and API buttons for catalog application"
![Image](https://cloud.githubusercontent.com/assets/2712405/14826165/a2964bb0-0baa-11e6-925c-e503c91a3dd2.png)

[2016-04-27 13:44] bharathm03 commented on #17
Yes @adriatic we will add samples for all the Syncfusion JavaScript controls in the proposed layout. and I will ensure that breadcrumb is implemented properly for catalog application.

We have planned to support Run and API button feature at later stage. Also for easier tracking, I have created new issue for the same

https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/issues/20

[2016-04-27 14:14] adriatic commented on #17
Great!

[2016-05-23 06:41] karthickthangasamy commented on #6
Hi @adriatic ,

We have completed the below list of controls for Syncfusion Aurelia catalog application.

**Grids**
1. Grid

**Data Visualization**
1. Chart
2. Gantt
3. Schedule
4. Diagram
5. Circular Gauge
6. Linear Gauge
7. Digital Gauge
8. Bullet Graph
9. Range Navigator
10. Barcode
11. Kanban Board

**Layout**
1. Splitter
2. Dialog
3. ListView

**Editors**
1. DatePicker
2. DateTimePicker
3. Ti

[2016-05-23 18:32] adriatic commented on #6
Thanks for the update - it seems that you are doing well :-). I am a bit busy for a day or two and will return back to this project right after that. In the mean time, please answer the following question:

You are saying that you finished the [demo-syncfusion](https://github.com/aurelia-ui-toolkits/demo-syncfusion) application -- but that repository has only the README file and even that file is

[2016-05-24 06:10] bharathm03 opened #24 "Need to add user `syncfusion-javaScript` in aurelia-ui-toolkit organisation"
@adriatic we have planned to auto deploy the source/samples changes into `aurelia-syncfusion-bridge` after every Essential Studio release. For this purpose, we have planned to use the github username @syncfusion-javascript. So can you please add this username into `aurelia-ui-toolkit` organisation with write permission?

[2016-05-25 22:12] adriatic opened #25 "Bridge release process details"
This document is a log of actions taken to apply the **[KendoUI release process](https://github.com/aurelia-ui-toolkits/aurelia-kendoui-bridge/wiki/Release-procedure)** to Syncfusion bridge context.

[2016-05-26 07:22] karthickthangasamy opened #26 "Typedoc issues in Aurelia source"
While generating typedoc for `aurelia-syncfusion-bridge` source, initially faced issue like below.

[code]

The above issue resolved **while installing** `aurelia-framework` npm package.

Currently facing exceptions in the below `aurelia-framework` source files.

- `aurelia-history-browser`
- `aurelia-loader`
- `aurelia-router`

[code]

I am also tried to run the `aurelia-kendo-bridge` source, fac

[2016-05-26 13:52] adriatic commented on #26
@karthickthangasamy I believe that the task **[doc.js](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/blob/master/build/tasks/doc.js)** presumes special formatting of the code you want to generate the docs for. As far as I know only aurelia core framework code is formatted that way and the autogenerated docs can be seen **[here](http://aurelia.io/docs.html#/api/home)**

We never

[2016-05-26 16:49] JeroenVinke commented on #26
This is because `aurelia-framework` is used while `aurelia-framework` is not a dependency of the plugin

You have two options, remove the `aurelia-framework` imports or add the `aurelia-framework` dependency.

**Removing the aurelia-framework imports**
[here](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/blob/master/src/common/common.js#L3) you import `inlineView` from `aurelia-

[2016-05-26 17:02] JeroenVinke commented on #26
Also, make sure that you run `gulp build` before `gulp doc` as the `d.ts` file of the syncfusion bridge is generated by `gulp build`

[2016-05-27 11:44] karthickthangasamy commented on #26
@JeroenVinke Thanks for the update. We can go with the first option.

I made the required changes and committed in repository.

[2016-05-27 11:44] #26 closed

[2016-05-30 12:37] karthickthangasamy commented on #24
@adriatic please add @syncfusion-javascript username also in NPM owner's list.

[2016-06-03 08:50] karthickthangasamy opened #28 "TypeError: Cannot read property 'nextSibling' of null"
We are facing issue while routing between `samples` (contains child routing) and other root menu (about, installation) navigation.

[code]
**Reproduce the issue**

1. Run the bridge application.

2. Navigate to `Components catalog` menu.

3. Again navigate to `about` menu.

Now, the `about` page is empty and getting the console error as like the above stack trace.

[2016-06-03 10:02] Thanood commented on #28
@karthickthangasamy pointed me to this issue: https://github.com/aurelia/templating/issues/259
which is similar to that one mentioned here.

[2016-06-10 05:16] karthickthangasamy opened #29 "Demo not working in IE11 browser"
The demo is not working in IE11 and getting the below errors in console.

**User Agent string**

` "Mozilla/5.0 (Windows NT 6.3; WOW64; Trident/7.0; Touch; .NET4.0E; .NET4.0C; Tablet PC 2.0; .NET CLR 3.5.30729; .NET CLR 2.0.50727; .NET CLR 3.0.30729; InfoPath.3; rv:11.0) like Gecko"`

**Console log**

[code]

Tried to implement **MutationObserver** poly-fill described [here](http://aurelia.io/docs

[2016-06-10 07:37] Thanood commented on #29
I've had a similar issue with the Materialize bridge and somehow solved it.
I don't remember what it was exactly but I will have a look.

[2016-06-10 08:25] Thanood commented on #29
My "action log".. :smile:

A fresh clone led to two jspm forks:

[code]
- changing `"aurelia-loader": "npm:aurelia-loader@1.0.0-beta.1.1.0",` to `"aurelia-loader": "npm:aurelia-loader@^1.0.0-beta.1.1.0",`, removing explicit dependency on `corejs@1.1.4`, removing `jspm_packages` and doing another `jspm install`
- `jspm resolve --only npm:core-js@2.2.1`
- doing a `jspm update`in the `sample` folder

[2016-06-10 08:34] Thanood commented on #29
I propose revisiting the sample data file `jsondata.js` regarding its encoding.
I could only fix some lines because these were German city and street names and I'm from Germany. :smile:

[2016-06-10 08:38] Thanood commented on #29
Please see the PR above.
This worked for me but unfortunately I cannot say if this fixes it for you. So please try out these changes and tell me if it works.

[2016-06-10 09:20] #29 closed

[2016-06-16 12:23] #1 closed

[2016-06-16 12:23] #4 closed

[2016-06-16 12:24] #5 closed

[2016-06-16 12:28] bharathm03 commented on #8
@karthickthangasamy  Can you close the completed issues?

[2016-06-16 12:29] karthickthangasamy commented on #8
The ejMenu Aurelia component implemented

[2016-06-16 12:29] #8 closed

[2016-06-16 12:31] karthickthangasamy commented on #6
The [demo-syncfusion](https://github.com/aurelia-ui-toolkits/demo-syncfusion) catalog-app implemented.

[2016-06-16 12:31] #6 closed

[2016-06-16 12:34] karthickthangasamy commented on #18
The proposed navigation implemented for [demo-syncfusion](http://aurelia-ui-toolkits.github.io/demo-syncfusion/) catalog.

[2016-06-16 12:34] #18 closed

[2016-06-16 12:35] karthickthangasamy commented on #17
The breadcrumb implemented for [demo-syncfusion](http://aurelia-ui-toolkits.github.io/demo-syncfusion/) catalog.

[2016-06-16 12:35] #17 closed

[2016-06-16 12:38] karthickthangasamy commented on #9
Syncfusion Aurelia components implemented and [catalog](http://aurelia-ui-toolkits.github.io/demo-syncfusion/) application created for all [Syncfusion-JavaScript](http://js.syncfusion.com/demos/web/) widgets.

[2016-06-16 12:38] #9 closed

[2016-06-16 12:40] #13 closed

[2016-06-17 08:38] Thanood commented on #28
@karthickthangasamy
My Gitter doesn't like me atm so I'm writing here (and post in Gitter when it likes me again).

I could not solve this with the Aurelia version that you're using. Even wrapping the navigation menu in a `<template>` doesn't solve it like I suggested.

But I updated (`jspm update`) to the latest libs and replaced all `<content>` with `<slot>` and initialized `@children` arrays as

[2016-06-30 08:39] tommasop commented on #28
Any idea on when the Thanood fork will be merged in?

[2016-07-05 14:46] fhjuliao opened #32 "Some SyncFusion Controls stop to work after Aurelia RC1"
Some controls, like GRID, does not work with aurelia RC1 release. After some research, I think Thanood pull resquest, can solve the issue.

Do you have some update about when the pull request made by him will be done ?

Thank you.

Fabio Julião

[2016-07-11 04:46] karthickthangasamy commented on #32
@fhjuliao `aurelia-syncfusion-bridge` now supports **Aurelia RC**.

[2016-07-11 04:46] #32 closed

[2016-07-13 04:00] karthickthangasamy commented on #28
@tommasop The PR has been merged.

[2016-07-13 04:00] #28 closed

[2016-07-18 02:01] danielmeza opened #33 "The ListBox widget is not render new items when adden it on the array bind object."
I´m using a listbox widget and bind the datasource to and array on my model, when I add new records to the array the listbox is not render it. the only way when the list box is render the items is when the items are initialize on the array.

[2016-07-22 22:26] johntom opened #34 "Installation Problems"
Hi,
Using skeleton-esnext as base I've successfully installed Aurelia-Materialize bridge and aurelia-ui-toolkits/aurelia-v-grid and have most of the demo-syncfusion working (about/help don't display). I get the following errors when installing this plugin changing only the following version references from the in config.js
  "jquery": "npm:jquery@2.2.4",
  "jquery-easing": "npm:jquery.easing@1.4.1

[2016-07-23 06:18] JeroenVinke commented on #34
Hey John,

did you add the `"datavisualization/ej.*"` mapping to your config.js? Should be done in step 3 of JSPM or step 4 of vendors

[2016-07-23 06:40] JeroenVinke commented on #33
@danielmeza databinding is pretty difficult for these kinds of controls, try the following

[code]

[code]

[2016-07-23 11:20] johntom commented on #34
Yes, I followed instructions and did it a few times to make sure I didn't skip something

System.config({
  defaultJSExtensions: true,
  transpiler: false,
  paths: {
    "_": "dist/_",
    "github:_": "jspm_packages/github/_",
    "npm:_": "jspm_packages/npm/_",
    "common/ej._": "jspm_packages/github/syncfusion/JavaScript-Widgets@14.1.0.41/scripts/ej/common/ej._.js",
    "datavisualization/ej._

[2016-07-23 13:45] JeroenVinke commented on #34
Strange, can you compare your setup to https://github.com/JeroenVinke/syncfusion-test ? that one is working for me

[2016-07-23 14:50] johntom commented on #34
Will do

[2016-07-25 23:42] johntom commented on #34
Just installed and the test (select box) is working. I will install a grid
example and do a beyon compare and get back to you

On Sat, Jul 23, 2016 at 9:45 AM Jeroen Vinke notifications@github.com
wrote:

[2016-07-25 23:59] johntom commented on #34
Just import images and scripts directory and grid displays EmployeesList
Now for compare

On Sat, Jul 23, 2016 at 9:45 AM Jeroen Vinke notifications@github.com
wrote:

[2016-07-26 00:27] johntom commented on #34
Well, I thought I dotted all my i's but it turns out I had bad version references in config,sys, simple replace with the following fixed.  As an aside, I have a license of KendoUI Pro but I seem to prefer suncfusion the the declarative nature using html vs code with my first analysis.
Sorry for the delay and thanks for your help!
John
Changed the following based on test repo
 "common/ej._": "jspm_

[2016-07-26 00:32] #34 closed

[2016-07-26 04:08] karthickthangasamy commented on #34
@johntom Sorry for the late response. You can use the below repository which was configured for `aurelia-syncfusion-bridge` to avoid installation and configuration issues.

Repository : https://github.com/aurelia-ui-toolkits/syncfusion-template-repository

[2016-07-26 13:18] adriatic commented on #34
@johntom

I am curious about this statement since KendoUI and Syncfusion are very similar products from the Aurelia's prospective and should offer the same level of support for declarative programming model. Can you give me some examples?

[2016-07-26 14:12] adriatic opened #35 "pivot gauge example crash"
[code]

[2016-07-26 15:41] johntom commented on #34
Quick assesment with setting up grid, In Kendo (angular and aurelia) all my
setup is in code (never tried in html and don't recall any docs on showing
this) and out of the gate I have the following in html. I also find the
databing sinplier to read and setup.
All things considered they seem quite similar but I always found kendo a
bit of a pain and only use the grid for analysis.

<div>
       <ej

[2016-07-26 16:06] adriatic commented on #34
I do not want to argue in favor of one of our bridges over the other one - so just for completeness sake, have a look at http://aurelia-ui-toolkits.github.io/demo-kendo/#/samples/grid/basic-use and see that the declarative part:

[code]

sets up most of grid's values except `pageable`, which being a composite attribute is easier (less verbose) defined in the view model.

[2016-07-26 19:06] johntom commented on #34
Thanks, While I do use kendoui in my apps this is the first time I recall
seeing this example as I propably just ported my Angular examples over and
did tale a close look. Really great stuff  and find it much better to
organize code/html this way.  I can see the use of v-grid and kendo or
syncfusion So yes they are very similar and capable. I decided to
test syncfusion as a suggestion from Vegar.

[2016-07-26 19:06] johntom commented on #34
https://gist.run/?id=8a50734f4d26a8ed163c41ebf9fb78f7

On Tue, Jul 26, 2016 at 3:06 PM John Tomaselli jrt@gtz.com wrote:

[2016-07-26 19:24] adriatic commented on #34
@johntom

Not in this current release - I am just suggesting to  Syncfusion's management team to consider this upgrade next. Note that unlike KendoUI bridge's and Materialize bridge's cases where Aurelia-UI-Toolkit did all of the development, it was Syncfusion's development team that created the Syncfusion bridge using our bridge building infrastructure and our guidance on how to use it.

[2016-07-28 11:40] karthickthangasamy opened #36 "webpack support"
I cloned the [`skeleton-esnext-webpack`](https://github.com/aurelia/skeleton-navigation/tree/master/skeleton-esnext-webpack) and configured for `aurelia-syncfusion-bridge` and committed [here](https://github.com/karthickthangasamy/aurelia-esnext-webpack-syncfusion) which works fine. But I need to load all the `aurelia-syncfusion-bridge` source instead of loading one by one like [this](https://gith

[2016-07-28 12:29] Thanood commented on #36
@karthickthangasamy I found that the easiest way to accomplish this is to `.useAll()` and copy the complete block of error messages into an editor. Then edit it in a way that the file only contains the missing packages. Should be doable with a few regex replaces in a good editor.

What you get this way is a list of the things you would put into resources (in the form of a json array, of course).
I

[2016-07-28 12:45] karthickthangasamy commented on #36
@Thanood Yes, while using `.useAll()` I am getting `aurelia-syncfusion-bridge` source for all the components are not found like the below snippet.

[code]

But while including these packages in `package.json` file of `wepback-skeleton` repo [here](https://github.com/karthickthangasamy/aurelia-esnext-webpack-syncfusion/blob/master/package.json#L67), I can able to resolve these issues. Instead of in

[2016-07-28 13:26] Thanood commented on #36
If I understood correctly, I don't think it's possible.
The `resources` array was introduced because webpack cannot know which resources you'd like to add.

That's why I proposed to do that in the bridge itself so your users don't have to.

These entries are treated as "external modules". That also was not possible with `includeSubmodules` - you could load the bridge but it wouldn't load the files

[2016-07-28 13:34] Thanood commented on #36
To provide some further detail:

The `resources` loaded are essentially defined at _runtime_, when `config-builder` is called with `.useButton().useTreeGrid()` etc. There is no way webpack would know them at _build time_ (apart from parsing `main.js` and knowing every possible way to include `globalResources`), so these have to be declared somewhere.

In a perfect world it works like this:
- user

[2016-07-28 13:48] adriatic commented on #36
The good news are that the perfect world is almost here: we have new release of KendoUI bridge almost ready and this bridge leaves the complete control of which widgets to use to the application that uses the bridge. More specifically, the bridge itself does not have any references to underlying toolkit widgets, As soon as we finish the related documentation, Syncfusion team will be offered to fol

[2016-07-28 13:55] Thanood commented on #36
Wow, that's great news, @adriatic!

[2016-08-08 10:07] karthickthangasamy commented on #35
This issue has been resolved. [demo](http://aurelia-ui-toolkits.github.io/demo-syncfusion/#/samples/pivotgauge/OLAP)

[2016-08-08 10:07] #35 closed

[2016-08-08 10:07] #24 closed

[2016-08-19 03:44] karthickthangasamy commented on #36
@adriatic Is there any update for webpack documentation?

[2016-08-19 14:31] adriatic commented on #36
@karthickthangasamy - I believe that you will need to upgrade Aurelia Syncfusion bridge as described in [this document](https://aurelia-ui-toolkits.gitbooks.io/kendoui-bridge-architecture/content/) in order to be able to is Webpack as the module loader.

[2016-08-22 04:11] karthickthangasamy commented on #36
@adriatic I believe, while removing the `import ej.<control-name>.min` from the Aurelia components [source](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/tree/master/src) we need to load the Syncfusion Widgets source by application startup which is approximately **10MB** file.

Instead, could you please check this skeleton source [here](https://github.com/karthickthangasamy/aure

[2016-09-01 23:26] gregoryagu opened #37 "The Help Page in the Site does not navigate"
If you go to the Help page, and then click on any link on the left, the app does not show the page.  It just stays on the intro page.

It seemed to work a few days ago when I was reading it.

I tested in both IE and Chrome with the same result.

[2016-09-01 23:48] gregoryagu opened #38 "Is there a property that exposes the widget?"
In the Kendo-UI bridge, there is a "k-widget" that is useful to get at the underlying control.

`<ak-treeview k-data-source.bind="dataSource" k-widget.bind="treeView"></ak-treeview>`

I can then use "treeView" in the code behind so I can call methods, properties etc.

Is there a similar one for Syncfusion?

[2016-09-02 00:59] adriatic commented on #37
Is this a problem with https://aurelia-ui-toolkits.gitbooks.io/materialize-bridge-docs/content/about_this_application/introduction.html - since it is reported as an issue in Materialize repository? There is no Help page in this application?

[2016-09-02 01:02] adriatic commented on #38
As far as I remember, we introduced the k-widget **after** Syncfusion bridge was built (by Syncfusion team, using our technology and guidance.

Let's see of some of the Syncfusion team responds to this question.

[2016-09-02 05:13] karthickthangasamy commented on #38
Right now there is no option like `k-widget` in Syncfusion bridge. But you can get the underlying control data object in jquery approach, using the object you can invoke the methods and properties.

[code]

Reference link : https://help.syncfusion.com/js/invoking-methods

[2016-09-02 07:47] Thanood commented on #37
@adriatic http://aurelia-ui-toolkits.github.io/demo-syncfusion/#/help
Navigation does not work, indeed. No errors in dev console, except this before navigation:

[code]

It happens here:
https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/blob/master/sample/src/help/doc.js#L94

`this.anchor` is not defined.

Where is that? :smile:

[2016-09-02 08:41] karthickthangasamy commented on #37
@Thanood routeChange subscription is not triggered from [here](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/blob/master/sample/src/help/doc.js#L16), but the same is working in bridge source. If the `routeChanged` method triggered, `this.params` won't be `undefined`.

[2016-09-02 13:56] adriatic commented on #37
@Thanood - I was mistakenly assuming (have no idea why) that @gregoryagu reported a problem about Materialize bridge.

[2016-09-06 07:10] karthickthangasamy opened #39 "Typescript declarations refer to a wrong *.d.ts"
Typescript declaration is refer to kendoui bridge source, which is fixed [here](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/commit/2e285380e3eab7aadf74ebf65da3a17a2364184b).

Need to publish the changes into npm repository.

[2016-09-06 12:31] #39 closed

[2016-09-06 12:33] JeroenVinke commented on #39
Released 0.2.1

[2016-09-06 12:35] karthickthangasamy commented on #39
Thanks @JeroenVinke :+1:

[2016-09-06 12:40] karthickthangasamy commented on #38
@JeroenVinke Could you please share the `k-widget` property bridge developer notes?

[2016-09-06 21:01] AlainBaslter opened #40 "Update to Aurelia 1.0 RTM"
This is good work and I want to use it.

However it was built from Aurelia 1.0.0.beta.1.xxx days.

Could you please provide guidance as to how to update this to work with Aurelia 1.0.0 RTM i.e. latest?

What changes in packages.config and how does that relate to config.js

Thanks

[2016-09-06 22:19] adriatic commented on #40
Hi @AlainBaslter

A comment on the relationship between package.json and config.js first:

I am copying aurelia-syncfusion-bridge project lead( @Karthick-NR) to upgrade the Aurelia framework - however if you cannot wait for that or are interested in performing such experiments - you could use the information about [latest aurelia release](https://github.com/aurelia/framework/releases/tag/1.0.2) an

[2016-09-06 23:44] AlainBaslter commented on #40
Indeed I realized that before I ventured into jspm update etc. I thought ahh well there are tests. I'll give it a shot and run the tests, It either works as is or not.

Well I did not get that far. Whereas I can see what the gulp tasks are doing I evidently don't know enough and ran into trouble. Having given it a go, I'd rather let those who know what they are doing handle it.

Monterey is promis

[2016-09-07 02:03] adriatic commented on #40
Thanks for your feedback. If I may ask, please explain to me what you meant by:

In particular, I do not understand the part "I wished there was a better way to approach this":
- Better way than **what**?
- To approach this - what is **`this`** referencing?

[2016-09-07 02:32] AlainBaslter commented on #40
@adriatic

Now that I have tried it, let me rephrase that: Monterey is spot on and way to go.
I come from another development world where you click a button and a wizard generates you an app to get started with and you don't care about what pile of dependencies come along with it until you get to the point where you need to weed them out to make things leaner. I find all this tooling seemingly com

[2016-09-07 02:39] AlainBaslter commented on #40
Here is an attempt to run gulp test on aurelia-syncfusion-bridge with aurelia latest and it appears that something related to system.js configuration is wrong...

[22:36:57] -----STARTED-----
[22:37:14] Using gulpfile C:\aurelia\aurelia-syncfusion-bridge\gulpfile.js
[22:37:14] Starting 'test'...
[22:37:20] [33m06 09 2016 22:37:20.119:WARN [watcher]: [39mPattern "C:\aurelia\aurelia-syncfusion-bri

[2016-09-07 05:39] JeroenVinke commented on #40
@AlainBaslter Thanks for your feedback :+1: It's much appreciated.

Regarding the error you are receiving:

All bridges have two applications:
![image](https://cloud.githubusercontent.com/assets/2189477/18300862/45489332-74cd-11e6-8c38-0269593b7bb3.png)

This means that the NPM modules and JSPM packages for the sample application have to be installed as well. So you would have to add the sample di

[2016-09-07 07:32] JeroenVinke commented on #38
Sure, i'll write them up in the next few days

[2016-09-07 22:32] AlainBaslter commented on #40
@adriatic @JeroenVinke

Thanks for the tip off about the two separate projects, separate jspm/npm dependencies.

I confirm that it seems everything is working with the latest Aurelia as of today...

http://blog.aurelia.io/2016/09/07/patch-releases-9-7-2016-2/

**The cherry pick update feature is most useful.**

Now, what tests should I run in order to make sure all is good?

![image](https://cloud

[2016-09-08 04:35] JeroenVinke commented on #40
Great! As long as the sample application runs (gulp watch) then you should be good. Can you open a PR?

@karthickthangasamy are you OK with increasing the version range to require versio s above 1.0.0?

[2016-09-08 04:42] karthickthangasamy commented on #40
sure @JeroenVinke :+1:

[2016-09-08 15:32] AlainBaslter commented on #40
Once I got it working after adopting Aurelia latest I did a cursory test of the controls I am interested in.

I am now going through each control rigorously feature by feature and filling a spreadsheet as to what works and what does not as I go along. I need to have that level of confidence in these controls for my own use. There is no e2e and that may be a significant effort so I am doing it manu

[2016-09-09 03:19] AlainBaslter commented on #40
Created Pull request with my changes to Aurelia latest
#41

[2016-09-13 06:46] scotru opened #42 "Kanban current does not render in the bridge demo application"
The Kanban demo at: http://aurelia-ui-toolkits.github.io/demo-syncfusion/#/samples/kanban/default does not currently render but fails with:

http://aurelia-ui-toolkits.github.io/demo-syncfusion/src/samples/kanban/KanbanJsonData.js Failed to load resource: the server responded with a status of 404 (Not Found)
bluebird.min.js:31 Unhandled rejection Error: XHR error (404 Not Found) loading http://aur

[2016-09-13 06:48] scotru commented on #42
Sorry--posted in wrong repo.  Will repost in demo-syncfusion

[2016-09-13 06:48] #42 closed

[2016-09-15 05:18] karthickthangasamy opened #43 "Aurelia CLI"
I tried to configure `aurelia-syncfusion-bridge` with Aurelia-CLI. But the `"ej.*."` config from [here](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/blob/master/config.js#L17) is unable to load into `vendors.bundle`. Is there any way to configure this [config.js](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/blob/master/config.js#L17) path mapping.

**[aureli

[2016-09-15 05:49] JeroenVinke commented on #43
Aurelia-CLI uses RequireJS which does not support the more complex path mappings such as `ej.*.min`. For the aurelia-kendoui-bridge we have decided to remove all `kendo.x.min.js` import statements from the bridge, which means that the user becomes responsible for loading syncfusion controls. It allows users to choose how they want to load syncfusion. They could for example use a CDN to load syncfu

[2016-09-15 06:05] JeroenVinke commented on #40
Merged and released as 0.2.2

[2016-09-15 06:05] #40 closed

[2016-09-15 06:26] JeroenVinke commented on #38
@Karthick-NR here I have added the notes: https://aurelia-ui-toolkits.gitbooks.io/kendoui-bridge-docs-beta/content/k-widget.html

[2016-09-15 12:23] karthickthangasamy commented on #43
@JeroenVinke Okay, I will check those changes.

I hope, we can achieve with adding common prefix string with all import statement in bridge source like the below.

[code]

In the config.js file we can replace these configurations from [here](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/blob/master/config.js#L15-L17) with below.

[code]

We can use `aurelia-syncfusion-bridge` wi

[2016-09-15 13:00] adriatic commented on #43
Leaving the final answer to @JeroenVinke (since you addressed him), the only way to solve this issue is **NOT to load** the the whole widget library at the application startup - and **leave the decision what to load to the application developer**. Only the developer knows which controls the app will use and at what time will these be needed.

We learned this the hard way (people complaining about

[2016-09-16 09:05] JeroenVinke commented on #43
@karthickthangasamy your solution may work, although I haven't tried such path mapping in aurelia-cli. Not removing import statements does remove the option to load syncfusion from index.html. This is only an issue if there are module loaders that do not load syncfusion well. If for example Webpack can't load syncfusion, then you can't use the bridge with webpack. If the bridge would not be loadin

[2016-09-17 15:27] don-bluelinegrid commented on #36
@karthickthangasamy
@adriatic

What is the status of this?

I've just tried to follow the installation instructions in the aurelia-syncfusion-bridge docs, and they are essentially useless for a webpack setup.

I then read through the comments above, and this seems like an unworkable situation for developer use.  I've already spent more than an hour trying to add entries to the package.json "resour

[2016-09-17 15:34] don-bluelinegrid commented on #36
As an example, even after adding the syncfusion-bridge/grid/grid reference to the "resources" section, I then see this error in the webpack build:

`
ERROR in ./~/aurelia-syncfusion-bridge/dist/commonjs/grid/grid.js
Module not found: Error: Can't resolve 'ej.grid.min' in '/Users/donpeterkofsky/Documents/gc-2-dev/node_modules/aurelia-syncfusion-bridge/dist/commonjs/grid'
 @ ./~/aurelia-syncfusion-b

[2016-09-17 15:58] adriatic commented on #36
@don-bluelinegrid aurelia syncfusion bridge is created and maintained by Syncfusion's development team led by @karthickthangasamy. @JeroenVinke, @Thanood and myself (members of the Aurelia UI-Toolkits team) act as advisers to Syncfusion -  they stated their interest in using our "bridge infrastructure" developed in the course of building our two products (KendoUI and Materialize bridge).

At the t

[2016-09-17 16:10] don-bluelinegrid commented on #36
@adriatic

Thank you very much for your response.

Yes, I am beginning to understand the relationship between the various teams.

For my project, I specifically need a smart grid at the moment, and so with that, KendoUI is not exactly "the solution", because unlike with SyncFusion the Grid in KendoUI is only available with a paid Enterprise license.

I've spent 2-3 days looking into all of the ava

[2016-09-17 16:17] adriatic commented on #36
We (Aurelia-UI-Toolkits team) are a bunch of guys who are interested solely in advancing the Aurelia framework adoption. We have no real relationship nor influence on Telerik or Syncfusion, so the affordability of KendoUI grid is not something we could address. Based on the number of KendoUI bridge downloads (17,000+) we made a good decision to "bring" KendoUI SDK to Aurelia community.

[2016-09-17 16:19] adriatic commented on #36
Only partially true - you could use Syncfusion with SystemJS module loader just fine.

[2016-09-17 16:25] don-bluelinegrid commented on #36
@adriatic

Yes, I think we understand each other.

To be more precise, I could have said:

[2016-09-17 16:45] adriatic commented on #36
@don-bluelinegrid - you seem to be a "my kind of a person", yes 😏

[2016-09-17 16:47] adriatic commented on #36
To completely clear any miscommunication let me add that my intent with

was to indicate the **technical** solution - not necessarily the same as **business** solution.

[2016-09-17 22:55] gregoryagu opened #44 "Is there support for Aurelia style templates?"
I am using the TreeView control with a template like this:

[code]

But it would be nice to do the template Aurelia style:

[code]

The Kendo UI bridge has such a template and it works well.

[2016-09-17 23:01] adriatic commented on #44
Aurelia Syncfusion bridge is "one generation" behind the current KendoUI bridge (both are built on AureliaTools infrastructure), so not all features from the latter bridge exist in the former. The future evolution of the Syncfusion bridge is defined by Syncfusion management, as it is their team who implemented (and supports) the Syncfusion bridge.

The relationship between the *native" templates a

[2016-09-17 23:04] gregoryagu commented on #44
Interesting.  Indeed, it is not an important issue - the templates do work well just as they are.

Thanks for the information.  Feel free to close this as desired.

[2016-09-17 23:25] AlainBaslter commented on #36
@don-bluelinegrid it sounds like we are in a very similar situation. I also need advanced grid capabilities that takes plays nice with Aurelia for an application . I looked around for a long time and this aspect was holding up development. I could wait no longer so I went with agGrid when it was in the early stages. Apparently a decent grid is a tall order to have open source. I built my prototype

[2016-09-17 23:43] AlainBaslter commented on #43
I managed to get ejButton to get bundled along with the vendor-bundle from Aurelia CLI latest.
I am no expert at this and sort of inferred what I needed to do to make this happen. Those who know what they are doing might think it is a horrible hack but I went for making it work first then I'll look at making it pretty. I ran into all sorts of configuration issues and managed to resolve them. I can

[2016-09-19 00:37] gregoryagu commented on #44
I found one thing that I don't like about the Syncfusion style templates is that it is only a template, it doesn't bind the data.

So if the value of the underlying property changes, the UI doesn't update like it would if it were an Aurelia style template.   The only way I know to update is recreate the TreeView from scratch. Or perhaps there is a one to find the node and update.  In any case, if

[2016-09-19 01:59] AlainBaslter commented on #44
Oh I just ran into something similar. The two ejCheckBoxes in the show case samples were both bound  to the same view model property (checked). I expected their states to be synchronized. There were not.
the binding was ej-checked.bind=checked. I changed that to ej-checked.two-way and they worked as expected. I don't know your usage context but perhaps you are running into it. If you look at the g

[2016-09-19 09:09] karthickthangasamy commented on #43
@JeroenVinke @adriatic Thanks for the detailed explanation. I look into the all module loading and do the changes.

[2016-09-20 02:30] AlainBaslter commented on #43
On my first try at bundling aurelia syncfusion bridge using Aurelia CLI I did this under the vendor-bundle section...

[code]

For ej.core.min I ran into trouble because ej.button.min references it as "**./../**ej.core.min.js"
What I did was to change it to ej.core.min.js
I did not like that. Its a hack and I besides am changing vendor code.

Turns out I don't have to do this no more. I found a co

[2016-09-28 03:00] gregoryagu opened #45 "ejDialog: methods/properties can be accessed only after plugin creation"
I have a two page Aurelia App.

I have a dialog on page one which work great. Until I go to page 2, then back to page 1.

I then get this error when I try to show the dialog: `ejDialog: methods/properties can be accessed only after plugin creation`

This is the code that opens the dialog:

`$('#lognForm').ejDialog('open');`

I have tried make the page a singleton, but I still get the same error.

[2016-09-28 23:21] gregoryagu commented on #44
There is a way to use Aurelia binding in templates.  I found this in the dropdown example which uses Aurelia binding. The template was created in the javascript:

`this.template = '<div><img class="eimg" src="images/Employees/${eimg}.png" alt="employee"/>' + '<div class="ename"> ${text} </div><div class="desig"> ${desig} </div><div class="cont"> ${country} </div></div>';
`

[2016-09-28 23:21] #44 closed

[2016-11-24 21:44] gregoryagu commented on #45
I am going to close this issue as I ended up using Aurelia Dialog instead, so this is no longer an issue.

[2016-11-24 21:44] #45 closed

[2016-11-24 21:48] gregoryagu opened #46 "binding for currencytextbox.decimal places not working"
I am using the currency textbox.  Overall, it works fine.  The value and width bind just fine.

But binding the decimal places does not seem to work for me.  This is the html:

`         <input id="currency" type="text" ej-currency-textbox="e-value.two-way:controller.item.cost;e-width.bind:'100%';e-decimalPlaces.bind:4" />
   `

I looked at the code in currencytextbox.js in aurelia.syncfusion-brid

[2016-11-24 21:49] gregoryagu commented on #38
Any progress on this?

[2016-11-24 21:52] gregoryagu commented on #46
Ah, I got this to work.  The syntax should be `e-decimal-places.bind:4`,not `e-decimalPlaces:bind:4`

[2016-11-24 21:52] #46 closed

[2016-11-25 03:58] #33 closed

[2016-11-25 03:59] karthickthangasamy commented on #20
The `RUN` and `API` buttons implemented.

Demo link: http://aureliajq.syncfusion.com/

[2016-11-25 03:59] #20 closed

[2016-11-25 17:17] adriatic commented on #20
Thank you Syncfusion team on following through on my suggestions. It is really cool to offer the Aurelia Community the standardized AP across several UI toolkits.

[2016-12-14 22:50] AlainBaslter opened #47 "ejGrid events"
I cannot find examples of handling grid events.

How does my ViewModel know when a row has been selected?
How do I detect what rows were selected (multiple) and get to the underlying data?
How do I pick up row double clicks in my VM?

I tried those...

'selectedRecords', 'selectedRowIndex',

e-selected-records.bind='propOnVM'
e-selected-row-index.trigger='methodOnVM()'

No go.

A few examples of u

[2016-12-15 07:12] karthickthangasamy commented on #47
@AlainBaslter The events hooked to Syncfusion widgets through attributes by appending prefix `e-on-` with widget's original event name(e-on-event-name.delegate). For example, The `selectedRecords` event will be hooked like the below.

[code]

We can fetch the data from the Syncfusion widget's event using `$event.detail` like the below code snippet.

[code]

Help site: https://help.syncfusion.com/a

[2016-12-20 03:37] #47 closed

[2017-01-23 09:36] kbulte opened #48 "Chart size relative to it's container not working when using percentages"
With the regular syncfusion web components it is possible to specify the chart size in percentage by using the size property. [documentation](https://help.syncfusion.com/js/chart/chart-dimensions#setting-size-relative-to-the-container-size)

When I try this in the essential js playground (web component without aurelia) this works [syncfusion playground](http://jsplayground.syncfusion.com/cxptt5xh)

[2017-01-23 09:44] karthickthangasamy commented on #48
@kbulte We need `display:block` property for the custom element `<ej-chart>` to get actual height and width.

I have updated the changes, please check the [gistrun](https://gist.run/?id=15053c8e35e734f58aeb14d3b82faca9)

[2017-01-23 10:20] #48 closed

[2017-02-10 15:18] pbgc commented on #43
Any news about this?

[2017-02-10 16:16] AlainBaslter commented on #43
I resorted to letting the plugin load All ejUseAll I think its called. I have not gotten to the aspect of bundling only the pieces I use yet. My application is still somewhat in flux as to what controls I might use or not use. Therefore I have differed the issue of bundling and minimization until I know for sure what I wont be using.

[2017-02-10 17:03] karthickthangasamy commented on #43
@AlainBaslter @pbgc We are working onto provide simplest way to integrate our bridge into Aurelia CLI, with simple configurations to avoid complex path mappings. We are in testing phase, we can expect a release on or before the mid of next week. Until then we appreciate your patience.

[2017-02-10 17:50] pbgc commented on #43
@karthickthangasamy @AlainBaslter Thanks for the update! I will then wait for the new integration and hopefully will test it next week

[2017-02-10 19:34] AlainBaslter commented on #43
@karthickthangasamy this is what I currently do...in config.js

System.config({
  defaultJSExtensions: true,
  transpiler: false,
  paths: {
    "*": "dist/*",
    "github:*": "jspm_packages/github/*",
    "npm:*": "jspm_packages/npm/*",
    "common/ej.*": "jspm_packages/github/syncfusion/JavaScript-Widgets@14.4.20/scripts/ej/common/ej.*.js",
    "datavisualization/ej.*": "jspm_packages/github/syn

[2017-02-10 21:25] pbgc commented on #43
@AlainBaslter This issue is related to the integration of the bridge with Aurelia CLI that will use RequireJS and not jspm ....

[2017-02-10 23:45] AlainBaslter commented on #43
That issue up there is old perhaps when I was doing the RequireJS approach. Since then I use jspm and SystemJS as loader. Everything works fine. Its just a little fat because its not bundled and trimmed down to strictly what I use yet. That's the next step for me. I'll share the configuration I use and works to whoever is doing the same approach.

[2017-02-11 02:24] pbgc commented on #43
@AlainBaslter what I was saying is that Aurelia CLI currently only uses RequireJS (with future plans for including webpack), so the new developments on the bridge that karthickthangasamy was talking and will be available (hopefully) next week will be for RequireJS and not SystemJS/jspm. I don't know if it will be easy to use it with jspm

[2017-02-11 04:29] karthickthangasamy commented on #43
@AlainBaslter We are happy for you feedback.

**Query: I know I can use useXXX() although its tricky to know which ones to wire in exactly considering egGrid for example references a horde of other controls.**

You can get the dependency details from the below link for each widget.

https://help.syncfusion.com/api/js/

For **ejGrid** : https://help.syncfusion.com/api/js/ejgrid

**Query : Any guida

[2017-02-11 04:36] AlainBaslter commented on #43
@karthickthangasamy That's all good info. I'll be looking into that for sure. In particular the bundling in the demo. I'll put up my jspm/SystemJS based config soon.

[2017-02-11 04:37] karthickthangasamy commented on #43
@AlainBaslter 👍

[2017-02-11 04:37] AlainBaslter commented on #43
@pbgc Yep I got that.
I am stuck with jspm/SystemJS because of other constraints.

[2017-02-11 05:46] vinidiktov opened #49 "Demo doesn't work in Microsoft Edge"
The demo doesn't work in Microsoft Edge.

http://aurelia-ui-toolkits.github.io/demo-syncfusion/

[2017-02-11 05:55] karthickthangasamy commented on #49
@vinidiktov Could you please share more **information/console errors if any**.?

![image](https://cloud.githubusercontent.com/assets/5012353/22851585/b0705bae-f04c-11e6-9439-366a08b63fe0.png)

[2017-02-11 06:31] alexvinidiktov commented on #49
After several more tries I was able to load the demo in Edge Desktop
(38.14393.0.0) - it took about 30 seconds to load; but it still doesn't
load in Edge Mobile (38.14393.693.0) on Lumia 640 XL.

On Sat, Feb 11, 2017 at 12:55 PM, Karthick Thangasamy <
notifications@github.com> wrote:

--
С уважением,
Алексей Винидиктов
http://vinidiktov.ru

[2017-02-11 07:22] karthickthangasamy commented on #49
@vinidiktov We suspect that the issue is due to `system.js` discussed in the below thread.

https://github.com/aurelia/framework/issues/227

We will investigate and provide you further details as much as earlier.

[2017-02-13 22:10] AlainBaslter opened #50 "operation not permitted"
Just some feedback on what I observed grabbing latest as of today.
Steps:
Download zip
Unzip
npm install
jspm install

Got this error on above step...

err  Error: EPERM: operation not permitted, rename 'C:\Users\adespaignet\AppData\Local\.jspm\packages\npm\aurelia-framework@1.0.3\dist\amd' -> 'C:\Users\adespaignet\AppData\Local\.jspm\packages\npm\.tmp-aurelia-framework@1.0.3'
         at Error (n

[2017-02-13 23:40] AlainBaslter commented on #49
Just tried 0.5.0 on Windows 10 and it works in Edge and Chrome.

[2017-02-13 23:42] AlainBaslter commented on #50
Must be my setup. Tried it on a clean machine Windows 10 32 bit. All good.

[2017-02-14 03:35] karthickthangasamy commented on #50
@AlainBaslter 👍

[2017-02-14 03:35] #50 closed

[2017-02-14 04:25] adriatic commented on #50
This is a pretty frequent event that can be attributed to several different causes, including for example a running virus protection program, that might be having the handle on that same file that the installer wanted to rename.

[2017-02-14 06:07] karthickthangasamy commented on #38
@gregoryagu aurelia-syncfusion-bridge@0.5.0 release with `e-widget` property.

[code]
[code]

[code]

[2017-02-14 06:07] #38 closed

[2017-02-14 06:33] karthickthangasamy commented on #43
`aurelia-syncfusion-bridge@0.5.0` released.

`[aurelia.json]` mapping to load `syncfusion-javascript` widgets.

[code]

[2017-02-14 06:33] #43 closed

[2017-02-14 09:59] pbgc commented on #43
@karthickthangasamy great! maybe it's better to update http://aurelia-ui-toolkits.github.io/demo-syncfusion/#/installation

[2017-02-14 10:05] karthickthangasamy commented on #43
@pbgc 😄

Yes, I am working on to update the `demo-syncfusion` . The same is updates in our below production link.

http://aureliajq.syncfusion.com/#/installation

I will let you know, once the `demo-syncfusion` updated with latest release.

[2017-02-14 11:55] karthickthangasamy commented on #43
@pbgc the [demo-syncfusion](http://aurelia-ui-toolkits.github.io/demo-syncfusion/) updated with `aurelia-syncfusion-bridge@0.5.0`

[2017-02-14 12:26] karthickthangasamy commented on #49
@vinidiktov We investigated about the issue and made changes discussed in the below command.

https://github.com/aurelia/framework/issues/227#issuecomment-246425032

[2017-02-14 12:32] karthickthangasamy commented on #37
This issue fixed and tested in Windows 10 Chrome v56.0.2924.87, Edge and IE 11 browsers.

[2017-02-14 12:32] #37 closed

[2017-02-14 12:51] alexvinidiktov commented on #49
It does work now! Thanks!

[2017-02-14 15:06] #49 closed

[2017-02-14 16:47] pbgc commented on #43
@karthickthangasamy I'm looking at demo-syncfusion. But shouldn't the installation instructions be updated also? (http://aureliajq.syncfusion.com/#/installation and http://aurelia-ui-toolkits.github.io/demo-syncfusion/#/installation) ?
The installation instructions still refer jspm as the way to install ...

[2017-02-14 17:34] AlainBaslter commented on #43
Oh oh, hun? I got latest yesterday and all I did was...
from root
npm install
jspm install

Then cd into /sample
same deal
npm install
jspm install

Then back one up cd..
gulp watch

And it was all good.
Now I did this in the context of this depot here and I have not updated my actual application with 0.5.0 yet. I wanted to make sure its all good before I break the app.

What has/is changing regar

[2017-02-15 03:31] karthickthangasamy commented on #43
@pbgc I updated the `demo-syncfusion` with `aurelia-syncfusion-bridge@0.5.0` and I will share the installation instruction with Aurelia-CLI as soon as possible.

[2017-02-15 03:46] karthickthangasamy commented on #43
@AlainBaslter The `aurelia-syncfusion-bridge@0.5.0` includes breaking changes to maintain the structure with `npm:syncfusion-javascript` package. Since, we made the below changes of import our widget source to seamlessly work with Webpack, SystemJS and Aurelia CLI.

- import `ej. * .min` changed to import `syncfusion-javascript/scripts/ej/web/ej. * .min`

- import `datavisualization/ej. * .min` ch

[2017-02-21 09:13] pbgc commented on #43
@karthickthangasamy sorry for asking again ... but the installation instructions will be updated? They still give the information that you must install the bridge using jspm ...

[2017-02-21 10:41] karthickthangasamy commented on #43
@pbgc I have logged the details here.

[CLI-Integration](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/wiki/CLI-Integration)

Could you please follow the steps and let me know if you need any further assistance.?

[2017-02-21 11:11] pbgc commented on #43
@karthickthangasamy perfect! tried and everything went smoothly. thank you! (shouldn't this instructions be linked here http://aurelia-ui-toolkits.github.io/demo-syncfusion/ and here https://help.syncfusion.com/js/aureliajs )

[2017-02-21 11:13] karthickthangasamy commented on #43
@pbgc Happy to hear the application works 😄 . I am working on the documentation for integration and will update both the sections as soon as possible.

[2017-02-21 11:19] pbgc commented on #43
@karthickthangasamy sorry for taking you time ... but can you just tell me why is necessary to make ""stub": false" ins the loader configuration? I cannot find any reference to that property in the aurelia docs....

[2017-02-21 11:29] karthickthangasamy commented on #43
@pbgc The css file will not be loaded into application and throws errors in `requirejs` like the below.

![image](https://cloud.githubusercontent.com/assets/5012353/23163038/e05f1a8c-f856-11e6-9882-b092b45b257f.png)

You can refer the comment [here](https://github.com/aurelia/cli/issues/212#issuecomment-234329932)

[2017-02-21 11:30] pbgc commented on #43
@karthickthangasamy I saw that (tried it) but wanted to know why.. I cannot find in the documentation the property "stub" and don't know what it does.
thanks!

[2017-02-21 11:32] karthickthangasamy commented on #43
@pbgc Thanks for the notification. I will add some more information for `stub` property.

[2017-02-24 16:04] sp00ky opened #51 "Module ''aurelia-binding'' has no exported member 'bindingMode'."
I'm getting this error against an aurelia-cli generated project using Typescript.  I've followed the instructions here:

https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/wiki/CLI-Integration

From what I can tell, aurelia-binding does indeed have the exported bindingMode.  Here are the relevant sections of the config files:

package.json
[code]

aurelia.json
[code]

main.ts
[code]

[2017-02-27 06:57] karthickthangasamy commented on #51
Hi @sp00ky ,

- Please remove the bridge import statement `import 'aurelia-syncfusion-bridge';` from `main.ts`
- The bridge `aurelia-syncfusion-bridge` already imported as plugin `.plugin('aurelia-syncfusion-bridge', (syncfusion) => syncfusion.ejGrid().ejTemplate());`

[2017-02-27 06:57] #51 closed

[2017-02-27 18:13] sp00ky commented on #51
That fixed it - thanks!

[2017-03-18 15:47] sp00ky opened #52 "Hierarchical Grid with Nested Objects"
I've got some javascript objects like this (it's typescript but you get the idea):

[code]

Since I'm working directly with javascript objects (using pouchdb in this case) I don't have any foreign keys and I'm not calling a service.  The parent object simply has an array of child objects.

I'd like to setup a hierarchical grid with Releases as the master and WorkItems as the detail.  Can this be d

[2017-03-21 05:32] karthickthangasamy commented on #52
Hi @sp00ky ,

We have analyzed your query and we suspect that you want to create a Grid with hierarchical structure. So, we suggest you to use the detail template in Grid. We have filtered the data for the child Grid using the column(“**OrderID**”) details of parent row value and rendered resultant data as child grid in the **detailsDataBound** event of **ejGrid**.
Refer the below code example.

*

[2017-03-21 05:47] karthickthangasamy commented on #36
aurelia-syncfusion-bridge@0.5.0 released with webpack support.

[2017-03-21 05:47] #36 closed

[2017-03-21 16:40] stuartbloom opened #53 "Help getting started"
Hi experts I am hoping someone can help and I am sorry if this is a silly issue.  I have followed the jspm installation instructions as per the Aurelia-Syncfusion bridge installtion page.

I had an error running `jspm install npm:aurelia-syncfusion-bridge css`, stating:

[code]

now, when I load the application after adding the plugin into the main.ts I get the following error:
`GET http://localho

[2017-03-21 21:00] Thanood commented on #53
Well, the first warning appears to advice you to run `npm install --save-dev jspm` to install a local version if jspm. 😃

The rest of the logs seem to be failing DNS requests because none of the host names used by JSPM can be resolved. Can you ping the hosts used in these requests?

- github.com
- registry.npmjs.org

It looks like a network failure, maybe because of a proxy or firewall not forward

[2017-03-22 08:14] stuartbloom commented on #53
@Thanood thanks for your help.  The installation now seems to work OK, however, wehn I have the plugin setup in main.ts and the require in the app.html I am now getting an error:

`GET http://localhost:9000/src/aurelia-syncfusion-bridge.js `

followed by:

[code]

Would you have any pointers?

Thanks again

Stuart

[2017-03-22 08:46] JeroenVinke commented on #53
Hey Stuart. I believe you are using the CLI. Instead of the installation instructions on the catalog, try and follow [these instructions](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/wiki/CLI-Integration).

[2017-03-22 09:09] stuartbloom commented on #53
Thanks @JeroenVinke that was it :)

Now to fight another fire ;)

[2017-03-22 09:09] #53 closed

[2017-03-22 10:19] karthickthangasamy commented on #53
@stuartbloom We followed the aurelia-cli integration [instructions](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/wiki/CLI-Integration) and rendered Syncfusion Aurelia Grid component in the below attached sample.

[aurelia-syncfusion.zip](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/files/861064/aurelia-syncfusion.zip)

Could you please try it out and let us

[2017-03-22 10:23] stuartbloom commented on #53
sorry @karthickthangasamy yes, all good thanks :)  now working on styling :)

[2017-03-22 10:26] karthickthangasamy commented on #53
@stuartbloom  👍

[2017-03-22 10:37] stuartbloom opened #54 "Localization"
Hi there, I am using the i18n plugin for localization.  Is there anyway to make use of the localised json file for things like column names?

I know I can create a property in my VM that i can then use, for example `e-header-text="${col1Header}"`, however, it would be far nicer to have all this done in the view without having to have the extra properties.

Thanks in advance

[2017-03-22 11:47] stuartbloom commented on #54
Figured it out; you can use something like:

`e-header-text="${ 'requirements:grid-columns.col0' | t }"`

[2017-03-22 11:47] #54 closed

[2017-03-22 16:00] sp00ky commented on #52
Excellent - exactly what I needed.  Next question :)  Is it possible to edit the detail grid?  This is what I have for the detail grid but I don't get the toolbar:

[code]

[2017-03-23 09:56] karthickthangasamy commented on #52
We have checked the snippet that has been shared by you, and found that, you have used toolbarSettings property to show the **toolbarItems** but you have mentioned as **toolbarSetting** instead of **toolbarSettings** (in plural form), this is the cause of an issue.

Refer the below code example.
[code]

Refer the help documentation.

Link: https://help.syncfusion.com/api/js/ejgrid#members:toolbars

[2017-03-24 15:51] sp00ky commented on #52
Doh!  Thanks for taking the time to look at it.  Now I feel kinda silly :)

[2017-03-24 15:51] #52 closed

[2017-03-28 14:18] stuartbloom opened #55 "Cannot set property 'unobtrusive' of undefined"
I recently installed the bridge using npm.  everything seems to work, however I get the following error:

![image](https://cloud.githubusercontent.com/assets/7871566/24409967/b03bbc32-13c9-11e7-8203-6fd9f60855f4.png)

Looking at the code, this is the line it is failing on:

![image](https://cloud.githubusercontent.com/assets/7871566/24409991/c283dde8-13c9-11e7-85b8-bc787861a694.png)

Does anyone k

[2017-03-29 05:55] karthickthangasamy commented on #55
@stuartbloom The `jquery-validation-unobtrusive` script is loaded before the `jquery-validation` script loading. Within a short span of time, again the `$jQval` is available and everything works well. As for now, we can ignore this error.

For your kind information, we are working on to removal of `jquery-validation-unobtrusive` script, we can expect a release in near future to overcome this conso

[2017-03-29 05:55] #55 closed

[2017-03-29 05:56] #25 closed

[2017-03-29 07:04] stuartbloom commented on #55
@karthickthangasamy thanks for the information.  When the upgrade that fixes this error is done, will you be able to let me know?

Thanks again

[2017-03-29 07:09] karthickthangasamy commented on #55
@stuartbloom Sure, I will update you the details once we published the next version of `aurelia-syncfusion-bridge`.

[2017-03-29 07:10] stuartbloom commented on #55
👍 thanks

[2017-03-30 10:00] stuartbloom opened #56 "Issue building application"
Hi, and sorry if this is a silly question, but for once googling has not helped :(

I have installed the components and when I run the application with the cli everything works great.

I am now moving to create a deployable build by running `au build --env prod`.  Unfortunately I get the following errors in my console:
![image](https://cloud.githubusercontent.com/assets/7871566/24498955/0c9d0eee-1

[2017-03-30 10:17] JeroenVinke commented on #56
This sounds similar to https://github.com/aurelia/cli/issues/567. Could you show me the steps involved to reproduce this issue?

[2017-03-30 10:26] stuartbloom commented on #56
Sure.

I created a new Aurelia application with the following configuration:
[code]

I allowed it to install project dependencies.

I followed the instructions [here](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/wiki/CLI-Integration).

Install all the controls.

Note you dont even need to set anythin up in the UI.

Running `au run` will work fine, running `au build --env prod`

[2017-03-30 10:43] karthickthangasamy commented on #56
@stuartbloom Using external resources is the cause for the issue. While removing bridge integration changes and hosting the application in IIS, works as expected which needs to be fixed in Aurelia CLI.

[2017-03-30 10:45] stuartbloom commented on #56
@karthickthangasamy  so the question is how can i create a production build that will work when hosted by IIS?

[2017-03-30 10:48] karthickthangasamy commented on #56
@stuartbloom  Can you please refer the [build](https://github.com/aurelia-ui-toolkits/demo-syncfusion/tree/master/build) tasks to bundle for production.?

We used `aurelia-bundler` to deploy application in GitHub page.

[2017-03-30 10:51] stuartbloom commented on #56
@karthickthangasamy sure, but I am not sure what I am looking at here, or how it fits in with my application.

Can you be a bit more specific please?

[2017-03-30 10:58] karthickthangasamy commented on #56
@stuartbloom We can make use of `aurelia-bundler` to generate bundles of our assets and reduce fewer request.

Refer [aurelia-bundler](http://aurelia.io/hub.html#/doc/article/aurelia/framework/latest/bundling-jspm/3) guide to getting started with bundling.

[2017-03-30 11:01] stuartbloom commented on #56
@karthickthangasamy my application uses the cli and npm; will this work in the same way?

Thanks

[2017-03-30 11:09] stuartbloom commented on #56
@karthickthangasamy furthermore, creating an application using au new does not create the build folder and its contents :(

[2017-03-30 11:14] JeroenVinke commented on #56
Take a look at https://github.com/JeroenVinke/aurelia-cli-syncfusion. I did not encounter the errors regarding aurelia-templating-resources, but did get a few 404's because the files of aurelia-syncfusion-bridge were not in the bundle. Adding [these resources](https://github.com/JeroenVinke/aurelia-cli-syncfusion/blob/master/aurelia_project/aurelia.json#L141-L145) resolved those 404's.

What I did

[2017-03-30 11:44] stuartbloom commented on #56
@JeroenVinke thank you so much.

=The main difference between our applications is this registration of the plugin.

Yours is `.plugin('aurelia-syncfusion-bridge', (syncfusion) => syncfusion.ejGrid().ejTemplate())` whereas mine is `.plugin("aurelia-syncfusion-bridge", (syncfusion) => syncfusion.useAll())`.

If I use your setup all is good, but I want to ensure that I have all components available t

[2017-03-30 11:49] karthickthangasamy commented on #56
@stuartbloom Register the plugin as like `.plugin("aurelia-syncfusion-bridge", (syncfusion) => syncfusion.useAll())` and include all the 404's path into resources array as mentioned by @JeroenVinke [here](https://github.com/JeroenVinke/aurelia-cli-syncfusion/blob/master/aurelia_project/aurelia.json#L141-L145)

[2017-03-30 11:58] stuartbloom commented on #56
@karthickthangasamy that is what i have done, and I still get the errors.

Here are my main.ts and aurelia.json files.

[files.zip](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/files/882156/files.zip)

It looks cvery similar to me and I still cannot get a deployed app with all the Syncfusion controls registered, even when they are not being used.

[2017-03-30 12:03] stuartbloom commented on #56
oops, wrong json file.  this is it.
[aurelia.zip](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/files/882170/aurelia.zip)

[2017-03-30 12:13] karthickthangasamy commented on #56
@stuartbloom In the `aurelia.json` the below code snippet needs to be updated to register all the widgets.

[code]

[aurelia-json.zip](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/files/882193/aurelia-json.zip)

[2017-03-30 12:24] JeroenVinke commented on #56
[code]

should work as well. I am looking into this and will report back

[2017-03-30 12:27] stuartbloom commented on #56
@JeroenVinke @karthickthangasamy

awesome, thanks gents :)

[2017-03-30 13:11] stuartbloom commented on #56
@JeroenVinke @karthickthangasamy

Just an update.  So I have added the "**/*.js" to the dependencies, however, I am getting one final error:
![image](https://cloud.githubusercontent.com/assets/7871566/24505683/b2975574-1552-11e7-8bf5-cec8524dfd5f.png)

here is the entry for aurelia-syncfusion-bridge:
[code]

Any ideas?

Thanks again for your time

[2017-03-30 13:13] JeroenVinke commented on #56
@stuartbloom I am close to solving this error, just need to confirm everything works

[2017-03-30 13:13] stuartbloom commented on #56
👍 thanks @JeroenVinke so glad it wasn't something I have done :) Or; maybe it was..

[2017-03-30 13:35] JeroenVinke commented on #56
jquery-validation-unobtrusive was causing an error, which made the bundle invalid. This causes requirejs to fetch everything that's in vendor-bundle from the original source (so it does http requests to node_modules/aurelia-syncfusion-bridge/index.js etc) even though it is in the bundle.

The problem with jquery-validation-unobtrusive was that it tried to use `jquery-validation` before it was load

[2017-03-30 13:38] JeroenVinke commented on #56
@karthickthangasamy can you verify that this fixes all issues using a new app and update the instructions accordingly?

[2017-03-30 14:07] stuartbloom commented on #56
@JeroenVinke SOO very close, thanks.  Just complied your application, and I notice this error:
[code]

Furthermore, when I add the copy files to my json file, I get a long error message that is in the attachment.
[copy_error.zip](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/files/882539/copy_error.zip)

Am I still missing something?  I have done a diff on out aurelia.json files

[2017-03-30 14:10] JeroenVinke commented on #56
The first one is safe to ignore and will be fixed in the CLI at some point. The second one I didn't get. perhaps you could try to create the `common-images` folder in the project root

[2017-03-30 14:13] stuartbloom commented on #56
Thats great, thanks @JeroenVinke

I thought about that but no joy.  For now I will manually copy that folder into the project root.

Thanks very much for your help

I will leave this issue open until @karthickthangasamy comes back with confirmation and he can close it.

[2017-03-30 14:19] adriatic commented on #56
I am watching this discussion and want to thank @stuartbloom on his persistence and determination to stay with the problem. As you likely know aurelia-syncfusion-bridge is a common effort between our team (Aurelia-UI-Toolkits) and Syncfusion, where we provided the initial design and @karthickthangasamy led the  Syncfusion team of developers.

So, @JeroenVinke and I think of syncfusion bridge as "o

[2017-03-30 14:22] stuartbloom commented on #56
@adriatic not a problem, its a pleasure to deal with folks that really want their code to succeed. I am currently evaluating Syncfusion, and must admit its nice (I have used Kendo in the past).. But what really makes this is the support @JeroenVinke has give; really top rate :)

[2017-03-30 14:30] adriatic commented on #56
That is because you got a world class architect (who created most of the original KendoUI bridge) to **act in the support role**. Such situation cannot be sustained as we need to move ahead with new projects.

I am genuinely expecting that the hundreds of folks that benefited from Jeroen's help will eventually join this project (this includes the other two bridges) and carry on the help to other n

[2017-03-30 14:40] stuartbloom commented on #56
@adriatic agreed, maybe one day I will also be able to help :)

[2017-03-30 14:46] adriatic commented on #56
All it takes is to stay connected with the project. Whenever you see someone asking for a solution of a problem you already know how to solve - you **are ready** to help!

[2017-03-31 14:34] stuartbloom opened #57 "ejGrid selectedRows member"
Hi there, I have tried to bind to the e-selected-rows member for the grid, however, it nether gets set when traversing the grid, or has any effect of row selection when changed.

Is it possible to bind the grid to a property of the view model and have the grid "select" that row?

i.e. I have a grid with data, and I have a row selected that is associated with primary data key of 5.  When I refresh

[2017-03-31 15:03] AlainBaslter commented on #57
I also ran into issues with getting the selected row. It does not seem to fire.
Here is what I am doing... in the view...on the ej-grid element
           e-on-record-double-click.delegate="onRecordDoubleClick($event.detail)"
Then in the view model...
    private onRecordDoubleClick(params) {
        logger.debug("onRecordDoubleClick");
        logger.debug(params);
    }
I don't like it either be

[2017-03-31 15:08] stuartbloom commented on #57
That's what i have at the moment, but it's only one way, i.e. view to view model, but there is no way of binding from the view model to the view

[2017-03-31 15:12] AlainBaslter commented on #57
Well e-on-record-double-click fires, surely e-selected-rows should fire too but as we have seen it does not. If that works it would be ideal as it gives an array of the selected row "models" back to the VM.

[2017-03-31 15:15] adriatic commented on #57
Since it is the Syncfusion team that assists with Syncfusion user issues, I would suggest to upgrade the **[catalog application](http://aurelia-ui-toolkits.github.io/demo-syncfusion/#/help)** and offer the same functionality described at http://aurelia-ui-toolkits.github.io/demo-kendo/#/help (check the GistRun section).

Presenting your problem in the form of a gist makes support folks very happy

[2017-03-31 15:19] AlainBaslter commented on #57
rowSelected fires here
http://js.syncfusion.com/demos/web/#!/bootstrap/grid/events
The catalog app does not cover grid events indeed.
Since I need this functionality I'll take a look and see if I can figure it out.

[2017-03-31 18:41] stuartbloom commented on #57
@AlainBaslter that's great, however, imagine you want to select one of those rows by the clicking if a button.

[2017-04-01 00:34] AlainBaslter commented on #57
@stuartbloom I see what you are wanting to do i.e. go from the VM and pre-select some rows on the grid.
I am not sure ej-grid even supports that. Does it say it does in the Syncfusion docs?
Well I got the latest code and built it. I wired in an Events sub-section under the Grid demo page in the samples. Next up is I will wire in all events and see what fires and what does not.

[2017-04-01 07:44] stuartbloom commented on #57
@AlainBaslter the API details two members, selectedRecords and selectedRowIndex. I think the latter looks like a good candidate.

[2017-04-01 16:56] stuartbloom commented on #57
@adriatic, @AlainBaslter Just wondering, are there any examples of using e-selected-row-index (selectedRowIndex) on a grid?

If not then I may be able to achieve what I wan by working with the ejGrid object in the DOM, although I don't want to start including jQuery in my VMs.  If I have to go down that route, is it possible to get the ejGrid object via a bound property?

Thanks in advance

[2017-04-04 04:00] karthickthangasamy commented on #57
@stuartbloom @AlainBaslter

We have analyzed the query and we suspect that you want to maintain the selected record after refreshing the data in grid.

In the external button click, we have refresh the grid data source and by using `actionComplete` event of ejGrid, we can select rows of ejGrid control.

Refer the below code example.

[code]

[code]

Refer the help documentation.

**Link**: https:/

[2017-04-04 07:23] stuartbloom commented on #57
@karthickthangasamy That is great, just what I am after.

Thanks :)

[2017-04-04 07:23] #57 closed

[2017-04-05 13:55] sp00ky opened #58 "Dropdown Column"
Is it possible to define a dropdown column using the bridge?  Something like the following, except in the markup provided by the bridge:

 `{ field: "Permission", headerText: "Permission", editType: "dropdownedit", dataSource: dropData, editParams: {fields: {text: "Display", value: "Value"}} } `

I've tried the following:

`<ej-column e-field="record_status_id" e-header-text="Status" e-text-align=

[2017-04-06 10:47] karthickthangasamy commented on #56
@stuartbloom @JeroenVinke The `aurelia-syncfusion-bridge@^0.7.0` no longer needs `jquery-validation-unobtrusive`.

@JeroenVinke The steps you have provided works as expected. 👍
@stuartbloom I have updated [cli-integration](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/wiki/CLI-Integration) steps accordingly. Please let us know if you are facing any issues, we are happy to help y

[2017-04-06 10:47] #56 closed

[2017-04-06 10:51] stuartbloom commented on #56
@karthickthangasamy @JeroenVinke

Thats great gents, thank you so much for your time :)

[2017-04-07 03:48] karthickthangasamy commented on #58
@sp00ky The `dataSource` and `editParams` properties needs to be bind (**_e-edit-params.bind="statusParams" e-data-source.bind="statuses"_**) from Aurelia view-model to achieve the requirement. Refer to the below code example.

**grid.html**

[code]

**grid.js**

[code]

[2017-04-07 14:53] vipintme opened #59 "Event binding of template column is not working"
We have implemented implemented the grid using aurelia-syncfusion-bridge. We have added a template column for showing the edit button

[code]

In the view model , We have defined the openUser() method. The event binding of  this button is not working.When cliking this button, we are getting error that "openUser is not a function". We are developed the application using aurelia+ webpack

[2017-04-07 16:59] sp00ky commented on #58
Thanks so much!  That did the trick.  I really appreciate the work you guys have done on the bridge.  It's a very useful tool.

[2017-04-10 04:10] #58 closed

[2017-04-10 12:27] karthickthangasamy commented on #59
@vipintme confirmed this as bug and provide you the solution at the earliest.

[2017-04-12 14:45] stuartbloom opened #60 "Typescript import"
This is a typescript question rather than an issue.

I am using the cli and typescript.  I am now starting to look at charts and making use of the ej object, however, I cannot, for the life of me fin out what I need to import at the head of my ts file.

For example, I would like type safety when assigning values to a CommonSeriesOptions object.

Could someone point me in the right direction?

Than

[2017-04-13 09:27] stuartbloom opened #61 "Issue passing percentage to ej-chart size"
I have a chart that I want to remain within its parent.  I have the following markup:

[code]

unfortunately when I use a % for the size bind, nothing gets rendered, and if I click on the charts container I get exceptions in the console:
![image](https://cloud.githubusercontent.com/assets/7871566/24998934/a05cefea-2033-11e7-8685-41138a8f9661.png)

I would expect to be able to use a % since the doc

[2017-04-13 09:32] #61 closed

[2017-04-13 10:28] stuartbloom commented on #60
not an issue with the bridge.

[2017-04-13 10:28] #60 closed

[2017-05-18 08:50] atoninelli opened #62 "Question: aurelia-syncfusion-bridge aspnet AureliaSpa template integration"
I say I'm totally new to Aurelia and in general to Webpack / npm,
this said, I'm trying to integrate the [syncfusion UI](http://aureliajq.syncfusion.com/) in the
[aspnet/JavaScriptServices/templates/AureliaSpa/](https://github.com/aspnet/JavaScriptServices/tree/dev/templates/AureliaSpa) template,
using [aurelia-syncfusion-bridge](http://aureliajq.syncfusion.com/).
Till now without success.

Did th

[2017-05-18 09:34] karthickthangasamy commented on #62
@atoninelli We suspect that `jquery` is not exposed properly in `window` object. Refer to the below snippet.

**[boot.ts]**
[code]

We created page to integrate `aurelia-syncfusion-bridge` into SPA templates [here](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/wiki/aurelia-syncfusion-bridge-with-Aurelia-SPA-Template)

[2017-05-18 09:35] karthickthangasamy commented on #59
This issue fixed with latest `aurelia-syncfusion-bridge@0.8.0`

[2017-05-18 09:35] #59 closed

[2017-05-18 12:54] atoninelli commented on #62
Thank you @karthickthangasamy !
Now it's ok.
Bye.

[2017-05-19 03:30] #62 closed

[2017-05-21 08:30] claudiofalzone opened #63 "Uncaught (in promise) Error: Unable to find module with ID: aurelia-syncfusion-bridge/button/button"
Hello,

I'm following the exact procedure to include Syncfusion as shown in the wiki [here](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/wiki/aurelia-syncfusion-bridge-with-Aurelia-SPA-Template) but still having the issue :

Error: Unable to find module with ID: aurelia-syncfusion-bridge/button/button

Added the following part in my webpack.js :
` resolve: {
            extensi

[2017-05-22 05:54] karthickthangasamy commented on #63
@claudiofalzone We analyzed about the issue and found that the latest SPA template uses Webpack 2 in which we need to support `PLATFORM.moduleName('')` to load the bridge source as modules.

Since, we recommend you to replace the existing `config-builder.js` file from `node_modules\aurelia-syncfusion-bridge\dist\commonjs` with the below updated `config-builder.js`.

[config-builder.zip](https://gi

[2017-05-22 08:27] cfalzone-private commented on #63
Thanks a lot for your help Karthick,

Unfortunately, this change doesn't resolve the issue.

Cleaning npm cache doen't fix it as well.

I've also tried to change : aurelia-syncfusion-bridge.js with
import {PLATFORM } from 'aurelia-framework';

and

 ejButton(): EjConfigBuilder {
    this.resources.push(PLATFORM.moduleName('./button/button'));
    return this;
  }

But still the same error...

Any

[2017-05-22 08:43] karthickthangasamy commented on #63
@claudiofalzone I am able to work with the latest SPA template application. Could you please share the simple sample.?

[2017-05-22 11:12] karthickthangasamy commented on #63
@claudiofalzone Could you please try the application from this [repo](https://github.com/karthickthangasamy/syncfusion-aurelia-dotnet-spa).? I have configured `aurelia-syncfusion-bridge` and rendered `ejButton` component.

[2017-05-22 12:10] cfalzone-private commented on #63
@karthickthangasamy First, thanks again for your help.
Same error with your repo.
So, something wrong with my base setup ?

Will try to clean npm deeper...

What could lead to this behaviour ?

Claudio

[2017-05-22 12:17] karthickthangasamy commented on #63
@claudiofalzone I suspect, you haven't replace `config-builder` properly or the Aurelia default application is not working with your system environment.

Could you please confirm you have followed the steps from [here](https://github.com/karthickthangasamy/syncfusion-aurelia-dotnet-spa#run-the-application).?

It would be helpful, if you share simple application to assist you with prompt solution a

[2017-05-22 12:33] cfalzone-private commented on #63
@karthickthangasamy  I've replaced config-builder....
I ran the procedure twice, the only error I have when running dotnet run is that it doesn't found /dist/vendor-manifest.json.

running webpack against the vendor config file fixed the issue.

Then dotnet run executes successfully, but the "Unable to find module with ID: aurelia-syncfusion-bridge/button/button " is still there at runtime.

The o

[2017-05-22 12:44] karthickthangasamy commented on #63
@claudiofalzone Thanks for sharing the information. In the latest SPA template, no need to import the `aurelia-syncfusion-bridge` in `package.json`. Include it in `webpack.vendor.js` is enough to generate the application, which I have updated in same wiki page.

Could you please ensure the `boot.ts` file include plugin same code as mentioned [here](https://github.com/karthickthangasamy/syncfusion-

[2017-05-22 12:52] cfalzone-private commented on #63
@karthickthangasamy  as your repo leads to the same error on my side, please download the full project folder (40Mb) from [here](http://www.e-kynox.com/syncfusion-aurelia-dotnet-spa-master.rar)
This folder is the results after running the procedure.

Is it running on your side ?

Claudio

[2017-05-22 15:04] cfalzone-private commented on #63
@karthickthangasamy Adding brackets near synfusion in boot.ts doesn't resolve the issue.
Claudio

[2017-05-23 04:06] karthickthangasamy commented on #63
@claudiofalzone Thanks for sharing the sample. I am able to reproduce the issue and working on it. I will update you at the earliest.

Karthick

[2017-05-23 06:37] cfalzone-private commented on #63
@karthickthangasamy  That's great. Many thanks for your time and help :-)

Claudio

[2017-05-23 06:37] karthickthangasamy commented on #63
@claudiofalzone Please do the below changes to resolve the issue.

* Remove `aurelia-syncfusion-bridge` from `webpack.vendor.config.js` file.
* Run the below set of commands to generate `app.js` and `vendor.js` bundle files.
[code]

* Please ensure `ejButton` bridge source and syncfusion-javascript widget source bundled inside `app.js` and bundled files path from `app.map.js`.

[2017-05-23 08:49] cfalzone-private commented on #63
@karthickthangasamy  It's working !

Thanks for your efficient help. Your're great man :-)

Please go on with your amazing work !

Claudio

[2017-05-23 09:13] karthickthangasamy commented on #63
@claudiofalzone Thanks for your kind words and appreciation.

Please let me know if you need any further assistance and I am glad to assist you.

Thanks,
Karthick

[2017-05-23 09:13] #63 closed

[2017-06-26 15:43] stuartbloom opened #64 "Wrapper for components - Question"
Love the bridge, but wondering if it is possible to create a wrapper for them; for example I make extensive use of the ej-grid element and every one of them has a page-settings attribute set to the same thing.

Can I create my own simple wrapper that will have this as a default and not require every view to implement it?  Would make it easy to change it in one place should I wish.

Thanks in advan

[2017-06-27 09:46] mariaantony-gnanasekaran commented on #64
@stuartbloom Sure, you can create your own wrapper around `ej-grid` component and use it in your application according to your need.

Follow the below step to create grid wrapper around ej-grid component.

- Create a grid wrapper by creating (say) `grid-wrapper` as custom element with default `ejGrid` view.

`[grid-wrapper.html]`
[code]
.
 `[grid-wrapper.js]`
[code]

If you’re wish to use same gri

[2017-06-27 09:48] stuartbloom commented on #64
@mariaantony-gnanasekaran thanks, that is very informative.  The only thing I have is that my grids will have different data sources as well as a set of different columns.....

[2017-06-27 10:28] mariaantony-gnanasekaran commented on #64
@stuartbloom FYI, you need to bind column in order to set different columns per view

Refer the below code snippet to have different set of column as well as data source

[grid-wrapper.html]
[code]

[grid-wrapper.js]
[code]
[sample.html]
[code]

[sample.js]
[code]

[2017-06-27 10:39] stuartbloom commented on #64
@mariaantony-gnanasekaran ahhh, of course, i forgot you could bind columns to an object.  Awesome way of doing this; thanks :)

[2017-06-27 10:39] #64 closed

[2017-07-04 22:11] AlainBaslter opened #66 "Nested properties in ej-xxx"
In the example below can nested view model properties not be used?

`<input ej-tooltip="e-content.bind:tip" ej-numeric-textbox="e-width.bind:width;e-value.bind:model.value;e-watermark-text.bind:model.watermark" />`

Actually I have a lot more `e-xxx.bind=someViewModelProperty` in there not shown.
As long as the properties are directly on the view model itself (not nested) it works.

It appears tha

[2017-07-04 22:26] AlainBaslter commented on #46
Is this part really working for you?
`ej-currency-textbox="e-value.two-way:controller.item.cost;"`

That's nested two deep: `controller.item.cost`
Are you sure its working? I can't seem to get nested properties to bind!

[2017-07-05 05:50] mariaantony-gnanasekaran commented on #66
@AlainBaslter Yes , you can use nested view-model properties inside aurelia-syncfusion-bridge custom attribute.

Refer the below gist

**https://gist.run/?id=0cf33b14c00ede36898a6733597bdf31**

If you are still facing the issue , Please share your simple Aurelia sample in gist or GitHub repository.

**_Query: Can I use those e.g. e-width.bind:width outside the custom attribute ?_**

As per Aurelia

[2017-07-06 22:27] AlainBaslter commented on #66
@mariaantony-gnanasekaran Thanks very much that was very useful. Turns out I made a mistake in initializing my model. Indeed it works nested.

[2017-07-06 22:27] #66 closed

[2017-07-17 18:49] ModernRonin opened #67 "Setup with aurelia-cli"
Hi,

the docs don't say anything about installing in an aurelia-cli project.
So far I got in my aurelia.json:

[code]
however, upon building, when au tries to bundle, I get these messages:
[code]

Any hint what I'm doing wrong?

Many thanks,
Max

[2017-07-18 04:14] mariaantony-gnanasekaran commented on #67
@ModernRonin

We have already documented **Integration of aurelia-syncfusion-bridge with Aurelia CLI** in our Help page. Refer the below link.

https://help.syncfusion.com/aurelia/getting-started/aurelia-cli-integration

If you are still facing the issue, Please share your configuration file or simple Aurelia CLI application in GitHub repository. so, we can solve your configuration issue.

[2017-07-19 04:06] #67 closed

[2017-08-02 09:13] JeroenVinke opened #68 "Error when using only chart and pivotchart"
Hey, I'm trying to only use the pivotchart and the cart, but when I do that I get an error:

![image](https://user-images.githubusercontent.com/2189477/28866296-cc9bbca8-7772-11e7-8be1-059a2a8b4a6a.png)

where that line is:

![image](https://user-images.githubusercontent.com/2189477/28866376-16998632-7773-11e7-919d-6678c368f460.png)

**aurelia.json:**
[code]

**main.js:**
`.plugin('aurelia-syncfus

[2017-08-02 09:29] karthickthangasamy commented on #68
@JeroenVinke Thanks for detailed information.

The issue will be fixed by including `ej.pivotanalysis.base.min` in `ejPivotChart.min.js` source `amd` loader mapping.

I will fix and update the bridge at the earliest.

[2017-08-02 09:47] JeroenVinke commented on #68
Thanks for the quick response @karthickthangasamy. No need to hurry, the workaround works fine :+1:

[2017-08-09 16:58] jBylinski opened #69 "Scheduler two way data binding"
I was wondering if the ejSchedule widget supports two way binding to a collection of appointments stored in the view model, like this:
[code]
I know that this is allowed:
[code]
but in this case the appointments stored in the view model don't seem to be updated whenever a user adds a new one.

[2017-08-13 16:57] dkent600 commented on #63
@karthickthangasamy  I took a look at your config-builder.js that you provided in a .zip file [here](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/issues/63#issuecomment-303005611).

It uses `PLATFORM.moduleName` to enable webpack module resolution to work.

What I don't understand is why version 1.0 of aurelia-syncfusion-bridge claims to work with webpack but doesn't include th

[2017-08-13 17:00] dkent600 opened #70 "v1.0.0 doesn't work with webpack"
In reference to https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/issues/63,  a config-builder.js was provided in a .zip file [here](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/issues/63#issuecomment-303005611).

It uses `PLATFORM.moduleName` that enables webpack module resolution to work.

However, version 1.0 of aurelia-syncfusion-bridge doesn't include this c

[2017-08-14 04:22] karthickthangasamy commented on #70
@dkent600 The `PLATFORM.moduleName` traces each and every entry from bridge sources and bundles all of them, which increases the production build size. Since, we didn't included `PLATFORM.moduleName` and  recommended the below.

- In `webpack.config.js` file, we need to add the path for Syncfusion Aurelia components in `ModuleDependenciesPlugin` to load the `aurelia-syncfusion-bridge` component so

[2017-08-14 06:59] karthickthangasamy commented on #68
The issue resolved in aurelia-syncfusion-bridge@1.0.0

[2017-08-14 06:59] #68 closed

[2017-08-14 13:04] dkent600 commented on #70
Thanks for the response, that looks promising.  However, when I follow these instructions I get:

"Unable to find module with ID: aurelia-syncfusion-bridge/grid/grid"

when running the application.

[2017-08-14 13:24] dkent600 commented on #70
The problem ^^^ was mine:  I have a vendor bundle with a separate webpack config file, and the `ModuleDependenciesPlugin` bit needs to go in there, not in the app's webpack config file.

[2017-08-14 13:29] #70 closed

[2017-08-24 13:14] irsali opened #71 "importing ejChart causing typescript error."
import { ejChart  } from 'aurelia-syncfusion-bridge';

Simple issue to replicate import ejChart and typescript typings start complaining, also about not found some aurelia components.

If using .js file. it works fine.

Not sure: is it a right place to raise typescript typings issue.

[2017-08-25 12:30] sanjithkesavan commented on #71
Hi @irsali ,

We will check this and update.

Regards,
Sanjith.

[2017-08-28 09:06] sanjithkesavan commented on #71
Hi @irsali ,

Thanks for your patience. We have analyzed your query and tried to replicate the reported issue at our side. But, reported issue not reproduced at our end. In the below link, we have attached sample for your reference.
Sample link: http://www.syncfusion.com/downloads/support/directtrac/186301/ze/Chart-2016301760

Please follow the below link to getting started with our chart control.

[2017-08-29 09:02] irsali commented on #71
Hi @sanjithkesavan

I have reviewed your sample link project. Although, i could not run it. I have observed the code, it is using Javascript. The issue exist only for Typescript.

I have added a repository, if you wanna see it. [https://github.com/irsali/aurelia-syncfusion-typescript](https://github.com/irsali/aurelia-syncfusion-typescript)
with error screen in readme file.
Also Note, project is r

[2017-08-29 13:27] jawa-the-hutt opened #72 "Syncfusion JS2 Integration"
I came across the Syncfusion JS2 product today (https://www.syncfusion.com/products/essential-js2) and was wondering if you know if there are any attempts to get the Aurelia components supported natively like they are already doing with Angular and React.

[2017-08-29 18:53] dharanidharandharmasivam commented on #71
Hi @irsali ,

We are checking in this and will update you.

Regards,
Dharani.

[2017-08-30 10:50] SridharSathaSivam commented on #72
Hi @jawa-the-hutt

Thank for your interest in Essential JS 2 platform. We do have the plan to provide Aurelia support in our Essential JS 2 platform. However, we do not have a concrete timeline when this will be available.

Thanks,
Sridhar S

[2017-08-30 12:14] karthickthangasamy commented on #69
@jBylinski In native Aurelia, there is no two way binding support for complex property and in Schedule, the data source property will be like `appointmentSettings.dataSource` (which is complex property), therefore two way binding is not possible for Scheduler data source.

[2017-08-30 12:22] karthickthangasamy commented on #71
@irsali The `aurelia-syncfusion-bridge` is an plugin which can be imported in `main.ts` ([here](https://github.com/irsali/aurelia-syncfusion-typescript/blob/master/src/main.ts#L8))

[code]

Could you please share more information about importing `ejChart` in sample level, which help us to provide you prompt solution at the earliest.?

[2017-09-05 20:24] JeroenVinke opened #74 "Suggestion"
Hey there, I have a suggestion:

It might be good to use aurelia-logging to log the configuration objects that are used to initialize controls: https://github.com/aurelia-ui-toolkits/aurelia-kendoui-bridge/blob/master/src/common/widget-base.js#L211. This makes debugging issues far easier. E.g. If I make a a typo (I used k-label but needed k-labels) I can look in the console and see that the labels

[2017-09-06 10:06] karthickthangasamy commented on #74
@JeroenVinke Thanks for your valuable suggestion.

We will implement the logger in bridge.

Regarding decouple Syncfusion from the bridge, which leads to breaking changes to bridge users. I will check with management and update you further details at the earliest.

Thanks.!

[2017-09-06 10:06] #71 closed

[2017-09-06 10:06] #69 closed

[2017-09-07 10:33] irsali opened #75 "Timepicker's default selected value is not reflecting to binded model property."
Timepicker's default selected value is not reflecting to binded model property. However once changed it is reflecting that change in model property.

suppose default choosen time like 12:00 AM and user want to select the same time value. User will let the selection as it is. But it will not reach to the model.

consider the simple control and trace value of model property.
`<input ej-time-picker="

[2017-09-10 14:14] karthickthangasamy commented on #75
@irsali Please find the details as below.

**_Query : Timepicker's default selected value is not reflecting to binded model property._**

When checked with the provided code example and screenshots we suspect that the field value does not same as in the timepicker model value in your application. So, we suggest to define the field value is same as in the model value of the component to achieve you

[2017-09-10 15:30] adriatic commented on #75
@karthickthangasamy - we (folks from Aurelia-UI-Toolkits team) are continuously impressed by your attention to customer need and quality of your response. Please keep up that great work 😄 .

[2017-09-11 09:04] irsali commented on #75
@karthickthangasamy - Thank you for your efforts, Here i want to rephrase my concern, with help of your lines.

Also, if you give the value as `undefined` then the timepicker displays the value as 12:00 AM in the input box instead of empty textbox value.

When i give value `undefined` then timepicker displays selected value as 12:00 AM that is wrong.
When user want to set the time 12:00 AM, he wil

[2017-09-11 09:40] pbgc opened #76 "i18n problems"
Hi,

I have a perfectly running example of a grid using remote data and bundled with aurelia cli.
I tried to apply this: https://help.syncfusion.com/aurelia/getting-started/globalization-localization to test localization but I'm having problems (tried syncfusion-ej-global and syncfusion-ej-global-all - syncfusion-ej-global-all is that I really want because my language is not is syncfusion-ej-globa

[2017-09-11 12:41] mariaantony-gnanasekaran commented on #76
Hi @pbgc ,

Please remove  **ej.core.min** dependency from all **node_modules/syncfusion-ej-global/l10n/*.js** files like the below one

**[ej.localetexts.de-DE.min.js]**

[code]

This issue will be fixed soon and we will republish `syncfusion-ej-global` and `syncfusion-ej-global-all` packages as soon as possible.

After removing ej.core dependency, Follow the below steps

* In `aurelia.json` file

[2017-09-11 14:15] pbgc commented on #76
still no luck.
I'm having this error with au run:

Tracing syncfusion-ej-global...
error /Users/pbeck/Development/projects/JS/sf-test2/node_modules/syncfusion-ej-global/false.js

[2017-09-11 14:25] pbgc commented on #76
Please ignore my last comment ... I will try again to test.

[2017-09-11 14:27] pbgc commented on #76
Please ignore my last comment ... I will try again to test.

[2017-09-11 14:38] pbgc commented on #76
I did everything like you said.
I don't have any error on the build and in the build log I have:

Writing app-bundle.js...
Writing syncfusion-global.js...
Writing vendor-bundle.js...

I don't have any error on the browser javascript console and the code runs well ... BUT without any i18n .... everything is still in english

[2017-09-11 16:26] pbgc commented on #76
Another problem:

As the standard way of localizing is not working ... I tried to put:

e-locale="pt-PT"

on the grid definition and in app.js:

[code]

This works! (while not optimal! What it would be great is to be able to use the standard synfusion i18n/i10n) but has some problems! (I don't know if the standard i18n/i10n will not also have .. because never been able to use it):

- In the grid f

[2017-09-12 09:47] mariaantony-gnanasekaran commented on #76
@pbgc ,

We have prepared sample for you reference. Refer to the below attached sample.

[sample ](http://www.syncfusion.com/downloads/support/directtrac/general/ze/syncfusion-aurelia-658829748.zip)

Remove  **ej.core.min** dependency from **node_modules/syncfusion-ej-global-all/l10n/ej.localetexts.pt-PT.min.js** file like the below one.

**[ej.localetexts.pt-PT.min.js]**

[code]

You don't need t

[2017-09-12 10:04] pbgc commented on #76
thank you very much for your sample!
I just tried but while the watermark indeed is working (I still not understand why my version didn't) you sample is not localized here! (see attachment).

- npm install
 - In ej.localetexts.pt-PT.min.js I removed: "(function(n){typeof define=="function"&&define.amd?define([],n):n()})"
- au run

![captura de ecra 2017-09-12 as 11 02 06](https://user-images.githu

[2017-09-12 10:17] mariaantony-gnanasekaran commented on #76
Hi @pbgc ,

Don't remove the line. Just remove the below marked syntax.

![image](https://user-images.githubusercontent.com/23378261/30320530-8d721d96-97d0-11e7-920b-015e77e7bf8f.png)

or replace the below attached file in **node_modules/syncfusion-ej-global-all/l10n**  location.

[ej.localetexts.pt-PT.min.js](http://www.syncfusion.com/downloads/support/directtrac/general/ze/ej.localetexts.pt-PT.m

[2017-09-12 10:25] pbgc commented on #76
@mariaantony-gnanasekaran

that nailed! Sorry ... my fault!
THANK YOU very much for all your help!

Meanwhile I just saw that the Portuguese translations are really not very good on some items ... (on some are even completely wrong). Could I help on that?

[2017-09-13 04:41] karthickthangasamy commented on #75
@irsali Please find the details for your queries.

**_Query : When i give value undefined then timepicker displays selected value as `12:00` AM that is wrong._**

We consider this as bug and fix it in our upcoming release, if you need, we will provide the patch for your convenience at the earliest.

**_Query: When user want to set the time 12:00 AM, he will left it as it is and we will not get thi

[2017-09-14 08:58] karthickthangasamy commented on #76
@pbgc We are happy that the issue resolved 😄 .

**_Query: Regarding `Portuguese` translations_**

We used google translator for conversion across the supported language.

We are maintaining our localized cultures in the repo [ej-global](https://github.com/syncfusion/ej-global/) . We always welcome your every effort and contribution for language translations. 👍 .

Thanks.!

[2017-09-15 05:17] #76 closed

[2017-09-18 09:39] irsali commented on #75
@karthickthangasamy Thank you very much for your response. I am hoping to use this control feature in near future. No hurry. Thanks again.

[2017-10-03 11:15] MrBliz opened #77 "Cannot find name 'ej' - Webpack"
Hi,

I've followed the instructions for installation with webpack

package.json
[code]

in webpack.config.js i have this line

` entry: {
        'app': 'aurelia-bootstrapper-webpack',
        'aurelia-syncfusion-bridge': ['aurelia-syncfusion-bridge']
     }, // Note: The aurelia-webpack-plugin will add your app's modules to this bundle automatically`

i have this line in my boot.ts
 `  .plugin('a

[2017-10-04 05:36] mariaantony-gnanasekaran commented on #77
Hi @MrBliz ,

We suspect that you didn't install `Syncfusion widget's typings`. So install Syncfusion widget types by executing the bellow command.

[code]

Also refer the Syncfusion typings in `types` array like the below one in ` tsconfig.json` file

[tsconfig.json]
[code]

We prepared sample in the below configuration and rendered our `ejGrid` component.

* ASP .Net Core 2.0
* [SPA Template](ht

[2017-10-04 12:59] MrBliz commented on #77
Thank you, very helpful.

[2017-10-04 12:59] #77 closed

[2017-10-05 05:18] karthickthangasamy commented on #75
@irsali Thanks for your patience.

While analyzing more on reported query,  providing the `undefined` value in `JSON` result will be considered as `absence` in the JSON fields. So the value API cannot be handled in source. So in this case, the `min Time 12.00 AM` will be set to input control as `default behavior` (if value not provide). So if you want to empty the TimePicker input please `assign n

[2017-10-05 12:40] MrBliz opened #78 "aurelia-loader-webpack fails to find aurelia-syncfusion-bridge/grid/grid when aurelia-syncfusion-bridge is not in main bundle"
When aurelia-syncfusion bridge is placed in  'vendor' bundle and loaded via the ModuleDependenciesPlugin it fails at runtime with the following error.

`aurelia-loader-webpack.js:187 Uncaught (in promise) Error: Unable to find module with ID: aurelia-syncfusion-bridge/grid/grid
    at WebpackLoader.<anonymous> (aurelia-loader-webpack.js:187)
    at step (aurelia-loader-webpack.js:36)
    at Object

[2017-10-05 12:43] karthickthangasamy commented on #78
@MrBliz Thanks for your interest in Syncfusion Products.

We are able to reproduce the issue at our end. We will investigate and provide you further details as much as earlier.

Thanks.

[2017-10-11 04:20] karthickthangasamy commented on #78
@MrBliz Thanks for your patience.

The issue resolved with the below configuration in `webpack.config.vendor.js` file.

[code]
You can refer the changes from [here](https://github.com/karthickthangasamy/aurelia-syncfusion-spa/commit/835222ab2335ec77c38d79b059655ecbe9c40e4e).

[Sample](https://github.com/karthickthangasamy/aurelia-syncfusion-spa/)

Thanks.!!

[2017-10-11 04:21] #75 closed

[2017-10-11 09:15] MrBliz commented on #78
@karthickthangasamy Fantastic, thank you.

[2017-10-11 10:05] #78 closed

[2017-10-18 08:36] atoninelli opened #79 "Dynamically set ejGrid columns"
Hi.
I need to add dynamically the columns in an aurelia project (aurelia-syncfusion-bridge).
Currently the static definition of the grid is (.html file):

[code]

And the .ts code that defines ejDataManager is:

- I need to show only some of the columns returned by the result (I know the names in a ts data structure),
- also need to render some columns from a template, such as in the example above

[2017-10-18 14:46] atoninelli commented on #79
Solved my issue by defining the columns of the grid dynamically, such as:

`<ej-grid id="Grid" ...  e-columns.bind="columns">`

and
`this.columns.push({ field: "RecordId", .... });`
in the activate() method of the viewmodel class

[2017-10-18 14:46] #79 closed

[2017-11-13 03:17] rdellar commented on #72
Follow up on @SridharSathaSivam comment

I'm really interested in Aurelia support.  Now that it's been a few months do you have any more rough timelines for Aurelia?  (Even if it is general like 1st quarter 2018, etc...)

I'm less interested in Vue support, but will Vue support come before or after Aurelia?

(We tried the syncfusion bridge and decided against it.  Native integration, like I assume

[2017-11-13 11:20] SridharSathaSivam commented on #72
Hi @rdellar

We will provide details within a week.

Thanks,
Sridhar S

[2017-11-21 05:32] rdellar commented on #72
Hi again @sridharsathasivam

Is the news ready on the Aurelia Js2 front?

Thanks!

[2017-11-21 07:01] SridharSathaSivam commented on #72
Hi @rdellar

We have planned Essential JS 2 for Aurelia in our Wishlist and it will be tentatively available on Essential Studio Volume 2, 2018 release.

Thanks,
Sridhar S

[2017-11-25 23:16] VagyokC4 opened #80 "Update 2.2.0 => 15.4.17 broken"
I just updated my project to use the latest 2.2.0 bridge with 15.4.17 JS and now I'm getting the following error:

    at ejDatePicker.createWidget (webpack-internal:///aurelia-syncfusion-bridge/common/widget-base:60:77)
    at ejDatePicker.attached (webpack-internal:///aurelia-syncfusion-bridge/common/widget-base:151:10)
    at ejDatePicker.descriptor.value [as attached] (webpack-internal:///aure

[2017-11-26 02:03] karthickthangasamy commented on #80
@VagyokC4 We made breaking changes to optimise the bundling process, In which we have to refer the 'syncfusion-javascript' widget in sample to overcome this issue. Refer to the below link for detailed information.

https://help.syncfusion.com/aurelia/release-notes/v15.4.0.17?type=all#common-breaking-changes

Thanks,
Karthick T

[2017-11-26 02:23] adriatic commented on #80
@karthickthangasamy @JeroenVinke I am very happy to see that you managed to create this release. 😄

[2017-11-26 05:41] VagyokC4 commented on #80
@karthickthangasamy That worked!  Thank-you for the prompt response.

[2017-11-26 05:41] #80 closed

[2017-11-29 04:56] MrRobboto opened #81 "V2.2 JQuery not defined"
So I'm using this bridge and just upgraded a new project to 2.2.  With the aurelia-skeleton-navigation typescript setup I've added npm:syncfusion-javascript via JSPM along with this bridge.

Upon running the app JQuery doesn't seem to be imported at any point by the bridge and doesn't end up loading in the browser.  Also I'll note when I include the bridge components in a JSPM bundle, JQuery is no

[2017-11-29 05:43] karthickthangasamy commented on #81
@MrRobboto We made breaking changes to optimise the bundling process, In which we have to refer the `syncfusion-javascript` widget in sample to overcome this issue. Refer to the below link for detailed information.

https://help.syncfusion.com/aurelia/release-notes/v15.4.0.17?type=all#common-breaking-changes

Since, you have to import the `ej.maskedit.min` in sample to resolve the issue.
[code]

R

[2017-11-29 15:46] MrRobboto commented on #81
Ah, that's actually a lot nicer!  Just needed to know what to change and couldn't find the docs provided.  Thank you very much for the quick response!  Took me awhile to figure out it was the bridge and killed 2 hours but it was my fault I accidentally upgraded...

Thanks again,
Rob

[2017-11-29 15:46] #81 closed

[2017-11-30 05:04] karthickthangasamy commented on #81
@MrRobboto Thanks for your feedback.

I have updated the GitHub release with release notes information [here](https://github.com/aurelia-ui-toolkits/aurelia-syncfusion-bridge/releases/tag/2.2.0).

If you have any queries/concerns let me know, I will always here to assist you.

Thanks.!

[2018-01-09 05:29] AlainBaslter opened #83 "15.4.20 broken"
I have been using this in an app for a while and recently tested the Syncfusion Essentials release 15.4.20 separately before updating my app. Myself and my colleague are having the exact same issue...

bluebird.min.js:31 Unhandled rejection TypeError: jQuery(...)[this.controlName] is not a function
    at ejButton.createWidget (http://localhost:9000/jspm_packages/npm/aurelia-syncfusion-bridge@2.2.

[2018-01-09 05:37] AlainBaslter commented on #72
Hi @SridharSathaSivam I am also very interested in this.
Any updates on the release time frame yet?

[2018-01-09 05:38] karthickthangasamy commented on #83
@AlainBaslter We made breaking changes to optimise the bundling process, In which we have to refer the `syncfusion-javascript` widget in sample to overcome this issue. Refer to the below link for detailed information.

https://help.syncfusion.com/aurelia/release-notes/v15.4.0.17?type=all#common-breaking-changes

Please let us know if you need further assistance on this.

Thanks,
Karthick T

[2018-01-09 07:19] AlainBaslter commented on #83
@karthickthangasamy
Thanks for your quick response as usual.
That takes care of it.
In fact that solves the next problem I started tackling too: Bundling.
This change sure makes it easier to bundle something I had not addressed up until now in my app.

[2018-01-09 07:19] #83 closed

[2018-01-09 07:24] karthickthangasamy commented on #83
@AlainBaslter We are happy the issue resolved and thanks for your valuable feedback. 👍

[2018-01-28 13:27] gregoryagu commented on #72
I too look forward to this release of Version 2 for Aurelia.

[2018-02-25 12:27] gregoryagu commented on #74
I believe this can be closed now.

https://help.syncfusion.com/aurelia/release-notes/v15.4.0.17?type=all#common-breaking-changes

[2018-03-20 17:30] ModernRonin commented on #72
same here, would be very useful.

[2018-04-07 00:08] gregoryagu commented on #72
Well, Volume 1 was released March 13, so I am estimating June 13 for Volume 2.

@SridharSathaSivam, if you need a skilled, experienced beta tester, I am available.

[2018-04-13 08:58] SridharSathaSivam commented on #72
Hi @gregoryagu ,

We regret to let you know that Essential JS 2 for Aurelia will not be available as part of Vol 2, 2018 release. Our feature implementation roadmap is often updated based on customer interest and unfortunately, there are several other items in our list that have received more interest from customers than the Aurelia components so we are unable to share a timeline of when Aurelia c

[2018-04-25 06:58] #74 closed

[2018-05-28 14:42] daleholborow commented on #72
Hi there. If i read the commit history correctly, the bridge will still actually support EJ2 - is that correct? I.e. no native implementation, but we can still use the most up to date EJ2 libraries, in Aurelia, through the bridge?

[2018-05-28 15:40] gregoryagu commented on #72
That would be really great if we could just drop in the new lib and it worked. Will try this.

[2018-06-10 19:40] daleholborow commented on #72
@SridharSathaSivam @karthickthangasamy  can either of you confirm this? If there will not be a native Aurelia version, does the bridge project work with the v2 Syncfusion libraries nicely?

[2018-06-13 07:18] ajithr commented on #72
Hi @daleholborow,

No, currently we don’t have any support and immediate plan for Aurelia in Essential JS 2. The Essential JS 1 Aurelia bridge will not compatible with Essential JS 2 components.

Regards,
Ajith R

[2018-07-08 16:10] gregoryagu commented on #72
In looking at the source code for the different wrappers, it doesn't look that difficult to create. Maybe we can start a new project based on this one that uses the same basic format of `@generateBindables`.

If there was someone willing to point me in the right direction, I would take a stab at converting a few of the components that I need from V1 to V2.

That is unless there is some major diffe

[2018-07-15 20:11] gregoryagu opened #85 "The Demo Site is currently Down"
I have tried several times today to get to the demo site, but it never loads.

http://aureliajq.syncfusion.com/

No messages are logged to the console, and the network tab gives no messages or info.

[2018-07-16 04:11] karthickthangasamy commented on #85
Hi @gregoryagu : The site is down for maintenance. Now the site is up.

[https://aureliajq.syncfusion.com/](https://aureliajq.syncfusion.com/)

[2018-07-16 04:11] #85 closed

[2018-09-05 10:49] mikey74L opened #87 "Problem with aurelia binding V2"
When I'm using the newest version of all aurelia core packages and the newest Version of the syncfusion bridge I see following output in the browser log for my app

I think the problem is that you are using an old version (V1) of the aurelia binding in your bridge. The newest aurelia packages are using V2 of aurelia-binding.

So could you please update your bridge to aurelia binding version 2?

[2018-09-05 11:58] karthickthangasamy commented on #87
@mikey74L Thanks for your feedback.

We will look into this issue and update the V2 binding in our bridge at the earliest.

We appreciate your patience until then.

Thanks,
Karthick T

[2019-09-04 14:49] vipintme opened #89 "Syncfusion.EJ.PdfViewer for ASP.NET Core"
We have tried to implement PDF viewer using "aurelia-syncfusion-bridge". Our application runs in ASP.NET Core. We have installed the "Syncfusion.EJ.AspNet.Core" using nuget but couldn't find the PdfViewer class. Please provide the nuget package for implementing the API for loading the PDF which supports the aurelia syncfusion bridge version. We are using the following sample for implementing the P

[2019-09-20 02:21] hoangcuongvn commented on #72
+1 Aurelia bridge for JS2

[2020-03-05 12:47] gregoryagu commented on #72
This fork now supports EJ2! https://github.com/AmericanPowerAndGas/aurelia-syncfusion-bridge

[2020-05-19 12:52] dradovic opened #90 "TreeView not working"
I've tried to use the TreeView component of the `aurelia-syncfusion-bridge` component (11.0.3) but I get the following warning on the console:

    at ejTreeView.createWidget (widget-base.js?9120:60)
    at ejTreeView.attached (widget-base.js?9120:151)
    at ejTreeView.descriptor.value [as attached] (decorators.js?6f1d:87)
    at Controller.attached (aurelia-templating.js?8628:3759)
    at View.a